<div id="edit-profile" v-cloak>
    <div class="container">
        <h1>Actualizar información personal</h1>
        <hr/>
        <ajax-form action="updateProfile" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="full-name">Nombre</label>
                        <input class="form-control" id="full-name" name="full-name" type="text" :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first>
                        <div class="invalid-feedback" v-if="formErrors.fullName">Ingrese su nombre completo.</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email-address">Correo</label>
                        <input class="form-control" id="email-address" name="email-address" type="email" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="sturgeon@example.com" autocomplete="email">
                        <div class="invalid-feedback" v-if="formErrors.emailAddress">Ingrese su correo.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-danger" v-if="cloudError === 'emailAlreadyInUse'">Correo ya utilizado.</p>
                    <p class="text-danger" v-else-if="cloudError">Error inesperado</p>
                </div>
                <div class="col-sm-6">
                    <div class="form-group text-right">
                        <a class="btn btn-outline-info" href="/account">Cancelar</a>
                        <ajax-button type="submit" :syncing="syncing" class="btn btn-dark">Guardar cambios</ajax-button>
                    </div>
                </div>
            </div>
        </ajax-form>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>