<div id="edit-password" v-cloak>
    <div class="container">
        <h1>Cambio de Contraseña</h1>
        <hr/>
        <ajax-form action="updatePassword" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="password">Nueva contraseña</label>
                        <input class="form-control" id="password" name="password" type="password" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password" focus-first>
                        <div class="invalid-feedback" v-if="formErrors.password">Ingrese una contraseña o seleccione cancelar.</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="confirm-password">Repita la contraseña</label>
                        <input class="form-control" id="confirm-password" name="confirm-password" type="password" :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" autocomplete="new-password" placeholder="••••••••">
                        <div class="invalid-feedback" v-if="formErrors.confirmPassword">Las contraseñas no coinciden.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-danger" v-if="cloudError">A ocurrido un error inesperado.</p>
                </div>
                <div class="col-sm-6">
                    <div class="form-group text-right">
                        <a class="btn btn-outline-info" href="/account">Cancelar</a>
                        <ajax-button type="submit" :syncing="syncing" class="btn btn-dark">Guardar cambios</ajax-button>
                    </div>
                </div>
            </div>
        </ajax-form>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>