<div id="404">
    <div class="container text-center">
        <h1 class="display-1 mb-3">404</h1>
        <hr/>
        <h2>La página que buscas no existe.</h2>
        <div class="help">
            <!--<p>Think you're seeing this message in error?<br/><span class="mobile-spacer">&nbsp;</span>Please <a href="/contact">let us know.</a></p>-->
        </div>
    </div>
</div>