<div id="500">
    <div class="container text-center">
        <h1 class="display-1 mb-3">Ups.</h1>
        <hr/>
        <h2>Hemos encontrado un error inesperado..</h2>
        <div class="help">
            <!--<p>Need help with your account? Please <a href="/contact">let us know</a>.</p>-->
            <!--<a class="btn btn-lg btn-outline-dark" href="/contact">Open a help request</a>-->
        </div>
    </div>
</div>