<div id="welcome">

    <router-view></router-view>
    <div class="jumbotron jumbotron-fluid">
        <h2>Registro de Usuarios</h2>
        <div class="container rounded" style="background-color: white; padding: 20px">

                    <a class="btn btn-dark btn-block" href="/signup">Registrar coordinador</a>
                    <a class="btn btn-dark btn-block" href="/signup-docente">Registrar profesor</a>
                    <a class="btn btn-dark btn-block" href="/signup-estudiante">Registrar alumnos</a>


       
            </table>


        </div>
    </div>
</div>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>