<div id="ecoe" v-cloak>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Lista de ECOE</h1>
            <div align='right' style="padding-bottom: 25px;">
                <a class="btn btn-outline-info " href="/newECOE ">nuevo ECOE</a>
            </div>
            <table class="table  table-bordered " style="background-color: lightgrey" content="width=device-width">
                <%if(ecoes.length===0){%>
                    <div class="alert alert-secondary" align="center" role="alert">
                        No existen examenes asociados.
                    </div>
                    <%}%>
                        <% for(var i=0; i< ecoes.length; i++){%>
                            <tbody>
                                <tr>
                                    <td>
                                        <form method="get" action="/estaciones/<%= ecoes[i].id%>">
                                            <%if(ecoes[i].estadoEcoe=="no-preparado"){%>
                                                <button class="btn btn-light btn-lg btn-block" width=70 style="white-space: normal; background: rgba(243, 50, 50, 0.466)"><p><%= ecoes[i].nombreEcoe%></p></button>
                                                <%}else{%>
                                                    <%if(ecoes[i].estadoEcoe=="completado"){%>
                                                        <button class="btn btn-light btn-lg btn-block" width=70 style="white-space: normal; background: rgba(63, 230, 30, 0.493)"><p><%= ecoes[i].nombreEcoe%></p></button>
                                                        <%}else{%>
                                                            <%if(ecoes[i].estadoEcoe==="en-ejecucion"||ecoes[i].estadoEcoe==="en-ejecucionEvaluacion" ||ecoes[i].estadoEcoe==="en-pausa" ){%>
                                                                <button class="btn btn-light btn-lg btn-block" width=70 style="white-space: normal; background: rgba(91, 129, 255, 0.493)"><p><%= ecoes[i].nombreEcoe%></p></button>
                                                                <%}else{%>
                                                                    <%if(ecoes[i].estadoEcoe=="ejecutado"){%>
                                                                        <button class="btn btn-light btn-lg btn-block" width=70 style="white-space: normal; background: rgba(252, 238, 40, 0.63)"><p><%= ecoes[i].nombreEcoe%></p></button>
                                                                        <% }%>
                                                                            <% }%>
                                                                                <% }%>
                                                                                    <%}%>
                                        </form>
                                    </td>
                                    <td class="text-right text-nowrap" width=15>
                                        <button class="btn  " style="background-color: transparent" @click="clickbotonEliminar(<%=ecoes[i].id%>) "><i class=" fas fa-trash-alt " style="font-size: 40px "></i></button>
                                    </td>
                                </tr>
                            </tbody>
                            <%}%>
            </table>
        </div>
    </div>
    <modal class="modal-mask bg-grey" v-if="virtualPageSlug" @close="virtualPageSlug = false">
        <div class="shadow-lg bg-white rounded p-4 mt-4 ">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <p align="center"> ¿Realmente desea eliminar este ECOE?</p>
            </div>
            <div align="center">
                <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal" @click="virtualPageSlug=false">Cancelar</button>

                <ajax-form action="borrarecoe" :syncing.sync="syncing" @submitted="submittedForm" :handle-parsing="handleParsingForm">
                    <ajax-button type="submit" class="btn btn-default btn-lg btn-block" width="70%">
                        <p class="btn btn-danger btn-lg">Eliminar</p>
                    </ajax-button>
                </ajax-form>
            </div>
        </div>
    </modal>

</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>