<div id="new-ecoe" v-cloak>
    <br>
    <div class="container">

        <ajax-form action="registroecoe" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm" :handle-parsing="handleParsingForm">



            <div class="form-group">
                <label for="exampleFormControlInput1">Nombre</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" :class="[formErrors.nombreEcoe ? 'is-invalid' : ''] " placeholder="Nombre ECOE" v-model="formData.nombreEcoe">
                <div class="invalid-feedback " v-if="formErrors.nombreEcoe ">Ingrese nombre.</div>
                <div class="alert alert-danger" v-if="formValidation.nombreEcoe" role="alert">
                    Excede máximo de caracteres
                </div>


                <hr>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Número de estaciones</label>
                <select class="form-control" id="exampleFormControlSelect1" :class="[formErrors.nEstaciones ? 'is-invalid' : ''] " v-model="formData.nEstaciones" ng-init="10">

                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                  </select>
                <div class="invalid-feedback " v-if="formErrors.nEstaciones ">Ingrese número de estaciones.</div>

            </div>
            <div class="form-group" v-if="formData.nEstaciones">
                <label for="estacionesAprobar">Nº estaciones para aprobar examen</label>
                <input type="number" class="form-control" id="estacionesAprobar" placeholder="7" :class="[formErrors.estaciones_para_aprobar ? 'is-invalid' : ''] " v-model="formData.estaciones_para_aprobar">
                <div class="invalid-feedback " v-if="formErrors.estaciones_para_aprobar ">Ingrese cantidad.</div>
                <div class="alert alert-danger" v-if="formValidation.estaciones_para_aprobar" role="alert">
                    El número de estaciones debe ser entre 1 y {{formData.nEstaciones}}
                </div>
            </div>
            <br>

            <div class="form-group">
                Fecha de Ejecución: <input id="fechaInput" type="date" :min="todayDate" name="bday" :class="[formErrors.fecha ? 'is-invalid' : ''] " v-model="formData.fecha">
                <div class="invalid-feedback " v-if="formErrors.fecha ">Ingrese fecha.</div>

            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <label for="minutos">Minutos por estación </label>
                    <select class="form-control" id="exampleFormControlSelect1" :class="[formErrors.minutos ? 'is-invalid' : ''] " v-model="formData.minutos" ng-init="10">
                    <option>1</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
              
                  </select>
                    <div class="invalid-feedback " v-if="formErrors.minutos ">Ingrese minutos.</div>

                </div>
                <div class="col">
                    <label for="entretiempo">Entretiempo (segundos) </label>
                    <select class="form-control" id="exampleFormControlSelect1" :class="[formErrors.entretiempo ? 'is-invalid' : ''] " v-model="formData.entretiempo" ng-init="10" placeholder="3">

                        <%for(var i=29; i< 60;i++){%>
                        <option><%= i+1%></i></option>
                    
                        <%}%>
                      </select>
                    <div class="invalid-feedback " v-if="formErrors.entretiempo ">Ingrese entretiempo.</div>


                </div>
            </div>
            <hr>


            <p class="text-danger" v-if="cloudError==='error1'"><small>error1.</small></p>
            <p class="text-danger" v-else-if="cloudError==='error2'"><small>error2.</small></p>
            <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Crear ECOE</ajax-button>
        </ajax-form>
    </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>