<div id="login" v-cloak>
    <div class="container">

        <div class="login-form-container">
            <h3 align=center>Ingreso a plataforma</h3>
            <hr/>

            <ajax-form action="login" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Correo" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
                    <div class="invalid-feedback" v-if="formErrors.emailAddress">Ingrese Correo.</div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" autocomplete="current-password">
                    <div class="invalid-feedback" v-if="formErrors.password">Ingrese Contraseña.</div>
                </div>
                <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" id="remember" name="rememberMe" v-model="formData.rememberMe" />
                    <label class="form-check-label" for="remember">Recordar</label>
                </div>
                <p class="text-danger" v-if="cloudError==='badCombo'"><small>Uno de los datos es erroneo. revise email o contraseña e intente nuevamente.</small></p>
                <p class="text-danger" v-else-if="cloudError"><small>Error en procesar. revise e intente nuevamente, o <a href="/contact">contacte con soporte</a> si persiste el error.</small></p>
                <div class="form-group">
                    <ajax-button :syncing="syncing" class="btn-light btn-lg btn-block">Ingresar</ajax-button>
                </div>
            </ajax-form>

        </div>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>