<div id="signup" v-cloak>
    <div class="container" v-if="!cloudSuccess">
        <h1 class="text-center">Crear Cuenta</h1>
        <div class="signup-form">
            <p class="text-center">Ingrese sus datos para la creacion de cuenta estudiante.</p>
            <hr/>
            <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">


                <div class="form-group">
                    <label for="full-name">Nombre</label>
                    <input class="form-control" id="full-name" type="text" :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Felipe Pez Avello Suazo" autocomplete="name" focus-first>
                    <div class="invalid-feedback" v-if="formErrors.fullName">Ingrese su nombre.</div>
                </div>

                <input class="form-control" id="full-name2" type="hidden" :v-model.trim="formData.tipoUsuario='coordinador'" autocomplete="name">



                <div class="form-group">
                    <label for="email-address">Correo</label>
                    <input class="form-control" id="email-address" type="email" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="Pez@example.com" autocomplete="email">
                    <div class="invalid-feedback" v-if="formErrors.emailAddress">Ingrese correo valido.</div>
                </div>






                <div class="form-group">
                    <label for="password">Ingrese una contraseña</label>
                    <input class="form-control" id="password" type="password" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password">
                    <div class="invalid-feedback" v-if="formErrors.password">Ingrese una contraseña.</div>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirme contraseña</label>
                    <input class="form-control" id="confirm-password" type="password" :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
                    <div class="invalid-feedback" v-if="formErrors.confirmPassword">La contraseña no coincide.</div>
                </div>
                <%/* <div class="form-group form-check">
                    <input class="form-check-input" id="terms-agreement" type="checkbox" v-model="formData.agreed">
                    <label for="terms-agreement" class="form-check-label" :class="[formErrors.agreed ? 'text-danger' : '']">He leido los terminos &amp; estoy de acuerdo con los <a target="_blank" href="/terms">terminos del servicio</a>.</label>
                </div>  */%>

                    <p class="text-danger" v-if="cloudError==='emailAlreadyInUse'"><small>Este Correo ya ha sido utilizado.</small></p>
                    <p class="text-danger" v-else-if="cloudError"><small>Ha ocurrido un problema para ingresar su registro. revise los datos ingresados, o contecte a asdasd@asdasd.com.</small></p>
                    <div class="form-group">
                        <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Crear Cuenta</ajax-button>
                    </div>
            </ajax-form>
            <p class="text-center">¿Ya tiene una cuenta? <a href="/login">Ingresar</a></p>
        </div>
    </div>
    <div class="container" v-if="cloudSuccess">
        <h1 class="text-center">Check your email!</h1>
        <div class="success-message">
            <hr/>
            <p>Your account is nearly ready. All you have to do is click the link we sent to <strong>{{formData.emailAddress}}</strong>.</p>
            <p>(You can still access your dashboard now, but some features will be unvavailable until we've verified your email address.)</p>
            <p><a class="btn btn-outline-info" href="/">Go to dashboard</a></p>
        </div>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>