<div id="docenteEstaciones" v-cloak>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">

            <div v-if="topEnEjecucion">
                <table class="table  table-bordered" style="background-color: lightgrey" content="width=device-width">



                    <%if(estaciones.length==0){%>
                        <div class="alert alert-info" role="alert">
                            No hay estaciones asociadas
                        </div>

                        <%}%>
                            <h3>Estaciones en curso</h3>

                            <% for(var i=0; i< estaciones.length; i++){%>
                                <tbody>
                                    <tr>
                                        <% if(estaciones[i].estadoEcoe==='en-ejecucion'|| estaciones[i].estadoEcoe==='en-ejecucionEvaluacion'){%>
                                            <td>

                                                <form method="get" action="/<%=estaciones[i].id%>/preevaluacion">
                                                    <button class="btn btn-light btn-lg btn-block" width=70 style="white-space: normal"><p ><strong><%=estaciones[i].nombre%></strong> - <%=estaciones[i].nombreEcoe%></p></button>

                                                </form>
                                            </td>
                                            <%}%>
                                    </tr>
                                </tbody>

                                <%}%>

                </table>

            </div>
            <hr>


            <table class="table  table-bordered" style="background-color: lightgrey" content="width=device-width">


                <h3>Estaciones Asociadas</h3>

                <hr>
                <%if(estaciones.length==0){%>
                    <div class="alert alert-info" role="alert">
                        No hay estaciones asociadas
                    </div>

                    <%}%>
                        <% for(var i=0; i< estaciones.length; i++){%>
                            <%if(estaciones[i].nombreEcoe){%>
                                <tbody>
                                    <tr>
                                        <td>
                                            <form method="get" action="/estacion/contenido/<%=estaciones[i].id%>">

                                                <%if(estaciones[i].estado_preparacion=="revisado"){%>

                                                    <button class="btn btn-success btn-lg btn-block" width=70 style="white-space: normal"><p ><strong><%=estaciones[i].nombre%></strong> - <%=estaciones[i].nombreEcoe%></p></button>


                                                    <%}else{%>

                                                        <%if(estaciones[i].estado_preparacion=="en-revision"){%>
                                                            <button class="btn btn-primary btn-lg btn-block" width=70 style="white-space: normal"><p ><strong><%=estaciones[i].nombre%></strong> - <%=estaciones[i].nombreEcoe%> </p></button>



                                                            <%}else{%>
                                                                <%if(estaciones[i].estado_preparacion=="espera-revision"){%>
                                                                    <button class="btn btn-warning btn-lg btn-block" width=70 style="white-space: normal"><p ><strong><%=estaciones[i].nombre%></strong> - <%=estaciones[i].nombreEcoe%></p></button>
                                                                    <%}else{%>
                                                                        <button class="btn btn-danger btn-lg btn-block" width=70 style="white-space: normal"><p ><strong><%=estaciones[i].nombre%></strong> - <%=estaciones[i].nombreEcoe%></p></button>
                                                                        <%}%>

                                                                            <%}%>

                                                                                <%}%>
                                            </form>
                                        </td>

                                    </tr>
                                </tbody>
                                <%}%>

                                    <%}%>

            </table>

        </div>
    </div>


    <!--MODAL OBLIGATORIO SI ES QUE HAY EXAMENES EN EJECUCIÓN-->
    <modal class="modal-mask bg-grey" v-if="modalEJECUCION">


        <div class="shadow-lg bg-white rounded p-4 mt-4 ">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <h4 align="center"> Hay un examen en ejecución:</h4>
            </div>

            <hr>

            <div align="center">
                <table class="table  table-bordered" style="background-color: lightgrey" content="width=device-width">



                    <%if(estaciones.length==0){%>
                        <div class="alert alert-info" role="alert">
                            No hay estaciones asociadas
                        </div>

                        <%}%>
                            <% for(var i=0; i< estaciones.length; i++){%>
                                <tbody>
                                    <tr>
                                        <% if(estaciones[i].estadoEcoe==='en-ejecucion' || estaciones[i].estadoEcoe==='en-ejecucionEvaluacion'|| estaciones[i].estadoEcoe==='en-pausa'){%>
                                            <td>

                                                <form method="get" action="/<%=estaciones[i].id%>/preevaluacion">
                                                    <button class="btn btn-light btn-lg btn-block" width=70 style="white-space: normal"><p ><strong><%=estaciones[i].nombre%></strong> - <%=estaciones[i].nombreEcoe%></p></button>

                                                </form>
                                            </td>
                                            <%}%>
                                    </tr>
                                </tbody>

                                <%}%>

                </table>
                <%if(estaciones.length!=1){%>
                    <div class="alert alert-warning" role="alert">
                        Si tiene asociado más de un examen en ejecución, pongase en contacto con su coordinador.
                    </div>
                    <%}%>
                        <hr>
                        <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" @click="modalEJECUCION=false">Ignorar</button>
            </div>


        </div>
    </modal>




</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>