<div id="estaciones" v-cloak>
    <%if(!EstadoPreparacion){%>
        <div class="jumbotron jumbotron-fluid">
            <div class="container rounded" style="background: white; padding: 10px">
                <table>
                    <tr>
                        <%if(ECOE){%>
                            <td>
                                <strong>Nombre Examen: </strong>
                            </td>
                            <td>
                                <a>
                                    <%= ECOE.nombreEcoe%>
                            </td>
                            </td>
                    </tr>

                    <tr>
                        <td><strong>Estado Examen: </strong></td>
                        <td>
                            <%if(ECOE.estadoEcoe=="no-preparado"){%>
                                <strong style="color: rgba(243, 50, 50, 0.897)">Preparación incompleta</strong>
                                <%}%>
                                    <%if(ECOE.estadoEcoe=="completado"){%>
                                        <strong style="color: rgba(60, 194, 34, 0.863)">Preparado</strong>
                                        <%}%>
                                            <%if(ECOE.estadoEcoe==="en-ejecucion"|| ECOE.estadoEcoe==="en-ejecucionEvaluacion"){%>
                                                <strong style="color: rgba(91, 129, 255, 0.87)">En ejecución</strong>
                                                <%}%>
                                                    <%if(ECOE.estadoEcoe=="ejecutado"){%>
                                                        <strong style="color: rgba(223, 191, 15, 0.966)">Ejecutado</strong>
                                                        <%}%>
                        </td>
                    </tr>

                    <tr>
                        <td>

                            <strong>Minutos por estación: </strong>
                        </td>
                        <td>
                            <a>
                                <%= ECOE.minutos%> minutos
                        </td>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <strong>Entretiempo: </strong>
                        </td>
                        <td>
                            <a>
                                <%= ECOE.entretiempo%> segundos
                        </td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Mínimo para aprobar: </strong>
                        </td>
                        <td>
                            <a>
                                <%= ECOE.estaciones_para_aprobar%> Estaciones aprobadas
                        </td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Fecha: </strong>
                        </td>
                        <td>
                            <a>
                                {{this.dateEcoe}}</a>
                        </td>
                        </td>
                    </tr>
                </table>
                <hr>
                <div align='right' style="padding-bottom: 25px;">
                    <button class="btn btn-dark " @click="clickbotonEditar()">Editar Examen</button>
                </div>
                <%if(ECOE.estadoEcoe=="en-ejecucionEvaluacion"){%>
                    <a class="btn btn-danger" style="color: white" @click="clickbotonCancelarPrep(<%=ECOE.id%>)">Cancelar Preparación</a>

                    <%}%>

                        <div v-if="ECOE.estadoEcoe==='completado'" align='right'> <a class="btn btn-primary" style="color: white" @click="clickbotonInicioEjec(<%=ECOE.id%>)">Iniciar ECOE</a>
                        </div>
                        <br>
                        <table class="table  table-bordered" style="background-color: lightgrey" content="width=device-width">

                            <%if(req.me.tipoUsuario=="coordinador"){%>
                                <% for(var i=0; i< ECOE.estaciones.length; i++){%>
                                    <tbody>
                                        <tr>
                                            <td>


                                                <form method="get" action="/estacion/contenido/<%=ECOE.estaciones[i].id%>">
                                                    <%if(ECOE.estaciones[i].estado_preparacion=="revisado"){%>
                                                        <button class="btn btn-success btn-lg btn-block" width=70 style="white-space: normal"><p ><%=ECOE.estaciones[i].nombre%></p></button>


                                                        <%}else{%>

                                                            <%if(ECOE.estaciones[i].estado_preparacion=="en-revision"){%>
                                                                <button class="btn btn-primary btn-lg btn-block" width=70 style="white-space: normal"><p ><%=ECOE.estaciones[i].nombre%></p></button>



                                                                <%}else{%>
                                                                    <%if(ECOE.estaciones[i].estado_preparacion=="espera-revision"){%>
                                                                        <button class="btn btn-warning btn-lg btn-block" width=70 style="white-space: normal"><p ><%=ECOE.estaciones[i].nombre%></p></button>
                                                                        <%}else{%>
                                                                            <button class="btn btn-danger btn-lg btn-block" width=70 style="white-space: normal"><p ><%=ECOE.estaciones[i].nombre%></p></button>
                                                                            <%}%>

                                                                                <%}%>

                                                                                    <%}%>
                                                                                        <!--<button class="btn btn-primary btn-lg btn-block" width=70 style="white-space: normal"><p ><%= ECOE.estaciones[i].nombre%></p></button>-->
                                                </form>




                                            </td>


                                            <td class="text-right text-nowrap" width=15>
                                                <button class="btn  " style="background-color: transparent" @click="clickbotonEliminar(<%=ECOE.estaciones[i].id%>, <%=ECOE.id%> ) "><i class=" fas fa-trash-alt " style="font-size: 40px "></i></button>



                                            </td>
                                            <td class="text-right text-nowrap" width=15>
                                                <%if(ECOE.estaciones[i].docenteid==null) {%>
                                                    <!--<button class="btn  " align="center" style="background-color: transparent" @click="clickbotonVincularProfesor(<%=ECOE.estaciones[i].id%>) "><i class="fas fa-edit" style="font-size: 35px "></i></button>-->

                                                    <button class="btn  " align="center" style="background-color: transparent" @click="clickbotonVincularProfesor(<%=ECOE.estaciones[i].id%>) "><i class="fas fa-user-edit"  style="font-size: 35px; color: #E92F29 "></i></button>



                                                    <%}else{%>

                                                        <button class="btn " align="center" style="background-color: transparent" @click="clickbotonModificarProfesor(<%=ECOE.estaciones[i].docenteid%>, <%=ECOE.estaciones[i].id%>) "><i class="fas fa-user-edit " style="font-size: 35px; color:#4D8F42 "></i></button>


                                                        <%}%>

                                            </td>
                                        </tr>
                                    </tbody>



                                    <%}%>
                        </table>
                        <div align='right'>
                            <%if(ECOE.estadoEcoe=='no-preparado' && ECOE.estaciones.length!=0){%>
                                <a class="btn btn-success" v-if="CambiarEstadoEstacion " @click="clickbotonCambioEstadoEcoe(<%=ECOE.id%>)" style="color:white">Finalizar Preparación ECOE</a>
                                <%}%>
                                    <a class="btn btn-outline-info" @click="clickbotonNuevaEstacion(<%=ECOE.id%>)">Nueva estación</a>


                                    <a class="btn btn-outline-info" @click="clickbotonAgregarAlumno(<%=ECOE.id%>)">Alumnos Participantes</a>

                        </div>


                        <!--modal editar-->


                        <modal class="modal-mask bg-grey" v-if="modaledit" @close="modaledit = false">


                            <div class="shadow-lg bg-white rounded p-4 mt-4 ">
                                <div class="modal-header">
                                </div>
                                <div class="modal-body">
                                    <p align="center"> Editar examen</p>
                                </div>
                                <hr>
                                <ajax-form action="modificarnombreecoe" :syncing.sync="syncing" @submitted="submittedFormEditarECOE" :handle-parsing="handleParsingFormEditarECOE">
                                    <div class="col" style="padding-bottom: 25px;">
                                        <div class="form-group">
                                            <label for="minutos">Nombre nuevo: </label>
                                            <input type="text" class="form-control" id="inputnombre" :class="[formErrors.nombre? 'is-invalid' : ''] " v-model="formEdit.nombre">
                                            <div class="invalid-feedback " v-if="formErrors.nombre">Ingrese nombre</div>
                                        </div>

                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="estacionesAprobar">Nº estaciones para aprobar examen</label>
                                            <input type="number" class="form-control" id="estacionesAprobar" placeholder="7" :class="[formErrors.estaciones_para_aprobar ? 'is-invalid' : ''] " v-model="formEdit.estaciones_para_aprobar">
                                            <div class="invalid-feedback " v-if="formErrors.estaciones_para_aprobar ">Ingrese cantidad.</div>
                                            <div class="alert alert-danger" v-if="formValidation.estaciones_para_aprobar" role="alert">
                                                El número de estaciones debe ser entre 1 y {{ECOE.estaciones.length}}
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="col">
                                        <label for="minutos">Fecha de ejecución: </label> <input id="fechaInput" type="date" :min="todayDate" name="bday" :class="[formErrors.fecha ? 'is-invalid' : ''] " v-model="formEdit.fecha">
                                        <div class="invalid-feedback " v-if="formErrors.fecha ">Ingrese fecha.</div>

                                    </div>
                                    <hr>

                                    <div class="col">
                                        <label for="minutos">Minutos por estación </label>
                                        <select class="form-control" id="exampleFormControlSelect1" :class="[formErrors.minutos ? 'is-invalid' : ''] " v-model="formEdit.minutos" ng-init="10">
                                                <option>1</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                        
                                            </select>
                                        <div class="invalid-feedback " v-if="formErrors.minutos ">Ingrese minutos.</div>

                                    </div>
                                    <div class="col">
                                        <label for="entretiempo">Entretiempo (segundos) </label>
                                        <select class="form-control" id="exampleFormControlSelect1" :class="[formErrors.entretiempo ? 'is-invalid' : ''] " v-model="formEdit.entretiempo" ng-init="10" placeholder="3">

                                                    <%for(var i=29; i< 60;i++){%>
                                                    <option><%= i+1%></i></option>
                                                
                                                    <%}%>
                                                </select>
                                        <div class="invalid-feedback " v-if="formErrors.entretiempo ">Ingrese entretiempo.</div>
                                    </div>

                                    <hr>
                                    <hr>

                                    <div align="center">
                                        <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" @click="modaledit=false">Cancelar</button>

                                        <ajax-button type="submit" class="btn btn-outline-primary btn-lg btn-block">
                                            cambiar
                                        </ajax-button>


                                    </div>
                                </ajax-form>

                            </div>
                        </modal>









                        <%}else{%>

                            <div class="alert alert-warning" role="alert">No tiene Permisos para acceder a esta sección</div>
                            <%}%>

                                <%}else{%>

                                    <div class="alert alert-warning" role="alert">El Ecoe que intenta ingresar ya no existe</div>

                                    <%}%>


            </div>
        </div>





        <!--Ingresar alumnos participantes-->

        <modal class="modal-mask bg-grey" v-if="modalAddEstudiante" @close="modalAddEstudiante = false">


            <div class="shadow-lg bg-white rounded p-4 mt-4 ">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <h2 align="center"> Estudiantes Participantes </h2>
                </div>
                <hr>

                <div class="md-form mt-0">

                    <h4>Participantes actuales:</h4>
                    <div style="max-height: 150px; overflow: auto; ">
                        <table class="table  table-bordered" style="background-color: lightgrey" content="width=device-width">
                            <%//if(ECOE.participantesECOE.length===0){%>
                                <div v-if="ECOE.participantesECOE.length===0" class="alert alert-warning" role="alert">
                                    Sin participantes para este examen!
                                </div>


                                <%//}else{%>
                                    <div v-else>
                                        <tbody>
                                            <tr class="alert alert-success" v-for="participante in ECOE.participantesECOE">
                                                <td>
                                                    <strong>{{participante.rut}} -</strong>
                                                    <a>{{participante.nombreParticipante}}</a>
                                                </td>
                                                <td class="text-right text-nowrap" width=15>
                                                    <button class="btn  " style="background-color: transparent; padding:0" @click="borrarAlumnoParticipante(participante)"><i class=" fas fa-trash-alt " style="font-size: 20px; padding: 0 "></i></button>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </div>
                                    <%//}%>
                        </table>
                    </div>
                    <hr>
                    <strong>Buscar </strong>
                    <input class="form-control" type="text" v-model="busqueda" placeholder="nombre o rut" aria-label="Search">
                </div>
                <div style="max-height: 150px; overflow: auto; ">
                    <table class="table  table-bordered" style="background-color: lightgrey" content="width=device-width">
                        <tbody>
                            <tr v-for="estudiante in estudiantes">
                                <td v-if="busqueda==='' || (String(estudiante.rut)).includes(busqueda) || estudiante.nombre.includes(busqueda)">
                                    <strong>{{estudiante.rut}} -</strong>
                                    <a>{{estudiante.nombre}}</a>
                                </td>


                                <td class="text-right text-nowrap" width=15 v-if="busqueda==='' || (String(estudiante.rut)).includes(busqueda) || estudiante.nombre.includes(busqueda)">
                                    <button class="btn  " style="background-color: transparent; padding:0" @click="Agregarnuevo(estudiante)"><i class=" fas fa-user-plus " style="font-size: 20px; padding: 0 "></i></button>

                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>


                <div v-if="alertaingreso" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Alumno ya ingresado
                    <button type="button" class="close" data-dismiss="alert" @click="alertaingreso=false" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <hr>


                <div v-if="IngresoParticipante.length>0">
                    <h4>Nuevos participantes:</h4>
                    <table class="table  table-bordered" style="background-color: lightgrey" content="width=device-width">

                        <tbody>
                            <tr class="alert alert-info" v-for="participanteNuevo in IngresoParticipante">
                                <td>

                                    <strong>{{participanteNuevo.rut}} -</strong>

                                    <a>{{participanteNuevo.nombre}}</a>
                                </td>
                                <td class="text-right text-nowrap" width=15>
                                    <button class="btn  " style="background-color: transparent; padding:0" @click="quitarEstudianteLista(participanteNuevo.id)"><i class=" fas fa-trash-alt " style="font-size: 20px; padding: 0 "></i></button>

                                </td>

                            </tr>
                        </tbody>
                    </table>


                </div>






                <hr>

                <div align="center">

                    <hr>
                    <ajax-form v-if="IngresoParticipante.length>0 || eliminacionParticipante.length>0" action="modificacionparticipantes" :syncing.sync="syncing" @submitted="submittedFormParticipantes" :handle-parsing="handleParsingFormParticipantes">
                        <ajax-button type="submit" class="btn btn-success btn-lg btn-block">
                            Ingresar
                        </ajax-button>
                    </ajax-form>


                    <!-- <ajax-form action="ecoeestadocompletado" :syncing.sync="syncing" @submitted="submittedFormEstadoAprobado"  :handle-parsing="handleParsingFormEstadoAprobado">
                      
                    </ajax-form>  -->

                    <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" @click="modalAddEstudiante=false">Cancelar</button>
                </div>


                <hr>
                <button type="button" onclick="window.location='/signup-estudiante';" class="btn btn-outline-primary btn-block">Registrar Alumno</button>

            </div>
        </modal>




        <!--cambiar estado ECOE-->
        <modal class="modal-mask bg-grey" v-if="ChangestateECOE" @close="ChangestateECOE = false">


            <div class="shadow-lg bg-white rounded p-4 mt-4 ">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <p align="center"> ¿Realmente desea cambiar el estado del examen a <strong style="color: green">"completado"</strong>? </p>
                </div>

                <div v-if="formErrors.participantes" class="alert alert-warning" role="alert">
                    El examen se encuentra sin participantes, debe ingresar al menos uno!
                </div>


                <hr>
                <div align="center">
                    <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" @click="ChangestateECOE=false">Cancelar</button>
                    <hr>
                    <ajax-form action="ecoeestadocompletado" :syncing.sync="syncing" @submitted="submittedFormEstadoAprobado" :handle-parsing="handleParsingFormEstadoAprobado">
                        <ajax-button type="submit" class="btn btn-success btn-lg btn-block">
                            Cambiar
                        </ajax-button>
                    </ajax-form>


                </div>
            </div>
        </modal>
        <!--cambiar estado ECOE a EJECUCION(preparacion docentes)-->
        <modal class="modal-mask bg-grey" v-if="InicioEJEC" @close="InicioEJEC = false">


            <div class="shadow-lg bg-white rounded p-4 mt-4 ">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <p align="center"> Confirme para comenzar con el ECOE </p>
                </div>
                <hr>
                <div align="center">
                    <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" @click="InicioEJEC=false">Cancelar</button>
                    <hr>
                    <ajax-form action="cambiaraejecucion" :syncing.sync="syncing" @submitted="submittedFormEstadoAprobado" :handle-parsing="handleParsingFormEstadoAprobado">
                        <!--llama a los submitted de "aprobado" .. solo para reutilizar-->
                        <ajax-button type="submit" class="btn btn-success btn-lg btn-block">
                            Confirmar
                        </ajax-button>
                    </ajax-form>


                </div>
            </div>
        </modal>


        <!--eliminar ECOE-->
        <modal class="modal-mask bg-grey" v-if="virtualPageSlug" @close="virtualPageSlug = false">


            <div class="shadow-lg bg-white rounded p-4 mt-4 ">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <p align="center"> ¿Realmente desea eliminar este ECOE?</p>
                </div>


                <div class="form-group">
                    <label for="estacionesAprobar">Mínimo Nº estaciones para aprobar examen</label>
                    <input type="number" class="form-control" id="estacionesAprobar" placeholder="7" :class="[formErrors.estaciones_para_aprobar ? 'is-invalid' : ''] " v-model="formData.estaciones_para_aprobar">
                    <div class="invalid-feedback " v-if="formErrors.estaciones_para_aprobar ">Ingrese cantidad.</div>
                    <div class="alert alert-danger" v-if="formValidationNewEstacion.estaciones_para_aprobar && formData.estaciones_para_aprobar>0" role="alert">
                        El número de estaciones debe ser entre 1 y {{this.ECOE.estaciones.length -1}}
                    </div>
                    <div class="alert alert-danger" v-if="formValidationNewEstacion.estaciones_para_aprobar && formData.estaciones_para_aprobar<=0" role="alert">
                        El número de estaciones debe ser mayor o igual a 0
                    </div>
                </div>
                <div align="center">
                    <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal" @click="virtualPageSlug=false">Cancelar</button>

                    <ajax-form action="borrarestacion" :syncing.sync="syncing" @submitted="submittedFormEliminar" :handle-parsing="handleParsingFormEliminar">
                        <ajax-button type="submit" width="70%">
                            <p class="btn btn-danger btn-lg">Eliminar</p>
                        </ajax-button>
                    </ajax-form>


                </div>
            </div>
        </modal>



        <!--Modal Confimación Nueva estacion-->

        <modal class="modal-mask bg-grey" v-if="modalAddEstacion" @close="modalAddEstacion = false">


            <div class="shadow-lg bg-white rounded p-4 mt-4 ">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <p align="center"> ¿Ingrese el nombre de la nueva estación para el examen "<strong><%= ECOE.nombreEcoe%> </strong>"?</p>
                </div>
                <div class="form-group">
                    <label for="NombreEstación">Nombre Estación</label>
                    <input class="form-control" id="NombreEstación" type="text" :class="[formErrors.NombreEstación ? 'is-invalid' : '']" v-model.trim="formData.NombreEstación" placeholder="Ejemplo: 'RCP' " focus-first>
                    <div class="invalid-feedback" v-if="formErrors.NombreEstación">Ingrese un nombre para la estación.</div>
                </div>
                <div class="form-group">
                    <label for="estacionesAprobar">Mínimo Nº estaciones para aprobar examen</label>
                    <input type="number" class="form-control" id="estacionesAprobar" placeholder="7" :class="[formErrors.estaciones_para_aprobar ? 'is-invalid' : ''] " v-model="formData.estaciones_para_aprobar">
                    <div class="invalid-feedback " v-if="formErrors.estaciones_para_aprobar ">Ingrese cantidad.</div>

                    <div class="alert alert-danger" v-if="formValidationNewEstacion.estaciones_para_aprobar && formData.estaciones_para_aprobar>0" role="alert">
                        El número de estaciones debe ser entre 1 y {{this.ECOE.estaciones.length +1}}
                    </div>
                    <div class="alert alert-danger" v-if="formValidationNewEstacion.estaciones_para_aprobar && formData.estaciones_para_aprobar<=0" role="alert">
                        El número de estaciones debe ser mayor a 0
                    </div>
                </div>




                <div v-if="ECOE.estadoEcoe=='completado'" class="alert alert-warning" role="alert">
                    Al agregar una nueva estación, esta volverá a su estado de preparación.
                </div>




                <div align="center">
                    <ajax-form action="newestacion" :syncing.sync="syncing" @submitted="submittedFormNewEstacion" :handle-parsing="handleParsingFormNewEstacion">
                        <ajax-button type="submit" class="btn btn-default btn-lg " width="70%">
                            <p class="btn btn-success btn-lg">Confirmar</p>
                        </ajax-button>
                    </ajax-form>
                    <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal" @click="modalAddEstacion=false">Cancelar</button>




                </div>
            </div>
        </modal>








        <!--Asociar profesor-->
        <modal class="modal-mask bg-grey" v-if="virtualPageVincular" @close="virtualPageVincular = false">


            <div class="shadow-lg bg-white rounded p-4 mt-4 ">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <h4 align="center"> Asociar docente a estación</h4>
                </div>

                <div align="center">
                    <p>Seleccione al docente que estará a cargo de esta estación</p>



                    <ajax-form action="vincularprofesorestacion" :syncing.sync="syncing" @submitted="submittedFormgetdocentes" :handle-parsing="handleParsinggetdocentes">
                        <div class="form-group">

                            <select class="form-control" id="exampleFormControlSelect1" v-model="formData.idDocente">
                                <option v-for="docente in docentes"  v-bind:value="docente.id">
                                        {{ docente.nombre }}
                                      </option>
                        </select>
                        </div>
                        <hr />
                        <ajax-button class="btn btn-light btn-block" type="submit">
                            Asociar
                        </ajax-button>
                    </ajax-form>
                    <br>
                    <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal" @click="virtualPageSlug=false">Cancelar</button>


                    <hr>
                    <button type="button" onclick="window.location='/signup-docente';" class="btn btn-success btn-block" href="/signup-docente">Registrar profesor Nuevo</button>





                </div>
            </div>
        </modal>


        <!--modificar profesor modal-->
        <modal class="modal-mask bg-grey" v-if="virtualPagemodificar" @close="virtualPagemodificar = false">


            <div class="shadow-lg bg-white rounded p-4 mt-4 ">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <h4 align="center"> Modificar docente a cargo de estación</h4>
                </div>


                <p align="center">Actual docente : {{profesorTemp}}</p>
                </hr>
                <div align="center">
                    <p>Seleccione al nuevo docente que estará a cargo de esta estación</p>



                    <ajax-form action="vincularprofesorestacion" :syncing.sync="syncing" @submitted="submittedFormgetdocentes" :handle-parsing="handleParsinggetdocentes">
                        <div class="form-group">

                            <select class="form-control" id="exampleFormControlSelect1" v-model="formData.idDocente" dafault="hola">
                                    <option value="" disabled selected>Seleccione un docente</option>

                                    <option v-for="docente in docentes"  v-bind:value="docente.id">
                                            {{ docente.nombre }}
                                          </option>
                            </select>
                        </div>
                        <hr />
                        <ajax-button class="btn btn-light btn-block" type="submit">
                            Modificar
                        </ajax-button>
                    </ajax-form>
                    <br>
                    <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal" @click="virtualPageSlug=false">Cancelar</button>



                </div>
            </div>
        </modal>

        <%}else{   %>
            <!--EN caso de Estar en ejecucion, muestra vista de confirmacion -->
            <div class="jumbotron">





                <h4 style="color: #322f5e">Confirmación preparación estaciones para examen </h4>
                <!--<h6>{{fecha}}</h6>-->
                <hr class="my-2">
                <div class="container rounded" style="background: white; padding: 10px">

                    <tr>
                        <%if(ECOE){%>
                            <td>

                                <strong>Nombre ECOE: </strong>
                            </td>

                            <td>



                                <a>
                                    <%= ECOE.nombreEcoe%>
                            </td>
                            <br>
                            <br>
                            <table class="table">
                                <tr>
                                    <td width=70>
                                        <div v-if="iniciarEcoe && ECOE.tiempoInicioPausa===0" align="left"><button class="btn btn-success btn-block" @click="iniciarECOE()">  Iniciar Examen</button> </div>
                                        <div v-if="!iniciarEcoe && ECOE.tiempoInicioPausa===0" align="left"><button class="btn btn-success btn-block" disabled>  Iniciar Examen</button> </div>
                                        <div v-if="iniciarEcoe && ECOE.tiempoInicioPausa>0" align="left"><button class="btn btn-success btn-block" @click="iniciarECOE()">  Reanudar Examen</button> </div>
                                        <div v-if="!iniciarEcoe && ECOE.tiempoInicioPausa>0" align="left"><button class="btn btn-success btn-block" disabled>  Reanudar Examen</button> </div>


                                    </td>
                                    <td width=30>
                                        <a class="btn btn-danger" style="color: white" @click="clickbotonCancelarPrep(<%=ECOE.id%>)">Cancelar Preparación</a>
                                    </td>
                                </tr>
                            </table>
                            <hr>

                            <div align='right'>
                                <td>
                                </td>
                            </div>


                            </td>
                            <%}%>



                    </tr>
                </div>

                <hr class="my-2">



                <div class="rounded" style="background-color:white ">

                    <table class="table  table-bordered rounded" style="background: white">
                        <div id="repetitivo estaciones">
                            <tr>
                                <td>
                                    <div align="center"> <strong> Estado </strong></div>
                                </td>
                                <td>
                                    <div align="center"> <strong> Nombre estación</strong> </div>
                                </td>
                                <td>
                                    <div align="center"> <strong> Profesor </strong> </div>
                                </td>
                            </tr>



                            <tr v-for="estacion in estacionesReact">
                                <td style="padding: 1%;">
                                    <div align="center" style=" padding-top: 1%; padding-bottom: 1%">

                                        <i v-if="estacion.estado_ejecucion==='preparado'" class="fas fa-check-circle" style="font-size: 30px; color: green; "></i>

                                        <i v-else class="fas fa-hourglass-half" style="font-size: 30px; color: #fc8061;  "></i>
                                    </div>
                                </td>
                                <td>
                                    <div align="center">

                                        <a> {{estacion.nombre}}</a>
                                    </div>
                                </td>
                                <td>
                                    <div align="center">

                                        <a> {{estacion.nombreProfesor}}</a>
                                    </div>
                                </td>

                            </tr>

                        </div>
                    </table>
                    <table class="table table-borderless rounded">
                        <tr>
                            <td width=70>
                            </td>
                            <td width=30>
                                <div align="right"><button class="btn btn-info " @click="botonRefrescar()"><i class="fas fa-redo"></i>  Recargar</button> </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <hr>

                <div class="container rounded" style="background: white; padding: 10px">

                    <table class="table  table-bordered rounded" style="background: white">

                        <tr>
                            <td style="padding-top: 1%; padding-bottom: 1%">
                                <a style="padding-bottom: 0%" class="lead">Estación confirmada</a>

                            </td>
                            <td style="padding-top: 1%; padding-bottom: 1%">
                                <div align="center">
                                    <i class="fas fa-check-circle" style="font-size: 30px; color: green; padding: 0%"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 1%; padding-bottom: 1%">
                                <a class="lead">Estación no confirmada</a>

                            </td>
                            <td style="padding-top: 1%; padding-bottom: 1%">
                                <div align="center">

                                    <i class="fas fa-hourglass-half" style="font-size: 30px; color: #fc8061 "></i>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>





            </div>

            <!--Modal cancelacion de preparacion ECOE-->
            <modal class="modal-mask bg-grey" v-if="modalCancelarPrepa" @close="modalCancelarPrepa = false">


                <div class="shadow-lg bg-white rounded p-4 mt-4 ">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        <p align="center"> ¿Desea cancelar el inicio del examen?</p>
                    </div>

                    <div class="alert alert-warning" role="alert">
                        Si confirma, el examen volverá a su estado de "<strong style="color: rgba(60, 194, 34, 0.863)">preparado</strong>" para su posterior realización</div>

                    <div align="center">
                        <ajax-form action="ecoeestadocompletado" :syncing.sync="syncing" @submitted="submittedFormEstadoAprobado" :handle-parsing="handleParsingFormEstadoAprobado">
                            <ajax-button class="btn btn-danger btn-lg btn-block" type="submit" width="70%">
                                Confirmar
                            </ajax-button>
                        </ajax-form>
                        <hr>
                        <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" @click="modalCancelarPrepa=false">Seguir en preparación</button>


                    </div>
                </div>
            </modal>






            <%}%>




                <!--Modal cancelacion de preparacion ECOE BORRARRRRRR DESPUES DE HACER PRUEBAS-->
                <modal class="modal-mask bg-grey" v-if="modalCancelarPrepa" @close="modalCancelarPrepa = false">


                    <div class="shadow-lg bg-white rounded p-4 mt-4 ">
                        <div class="modal-header">
                        </div>
                        <div class="modal-body">
                            <p align="center"> ¿Desea cancelar el inicio del examen?</p>
                        </div>

                        <div class="alert alert-warning" role="alert">
                            Si confirma, el examen volverá a su estado de "<strong style="color: rgba(60, 194, 34, 0.863)">preparado</strong>" para su posterior realización</div>

                        <div align="center">
                            <ajax-form action="ecoeestadocompletado" :syncing.sync="syncing" @submitted="submittedFormEstadoAprobado" :handle-parsing="handleParsingFormEstadoAprobado">
                                <ajax-button class="btn btn-danger btn-lg btn-block" type="submit" width="70%">
                                    Confirmar
                                </ajax-button>
                            </ajax-form>
                            <hr>
                            <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" @click="modalCancelarPrepa=false">Seguir en preparación</button>


                        </div>
                    </div>
                </modal>
















</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>