#contenido {

  .photo-uploader {
     //padding: 5px;
    .photo-upload-field {
      min-height: 150px;
      .file-upload-button {
        position: relative;
        cursor: pointer;
        .file-input {
          opacity: 0;
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
          position: absolute;
          cursor: pointer;
        }
      }

      .photo-preview {
        .image-wrapper {
          background-color: @bg-lt-gray;
          width: 100%;
          img {
            width: 100%;
          }
          .placeholder-icon {
            color: @text-muted;
            font-size: 42px;
          }
        }
      }

      .image-advice {
        margin-top: 15px;
        font-size: 13px;
        line-height: 16px;
      }
    }
    &.empty {
      .image-wrapper {
        min-height: 150px;
      }
    }
   
    p#texto{
      text-align: center;
      color:white;
    }
    
    div#div_file{
      position:relative;
      margin:50px;
      padding:10px;
      width:100px;
      background-color: #1d74aa;
      -webkit-border-radius:5px;
      -webkit-box-shadow:0px 3px 0px #1a71a9;
    }
    
    input#btn_enviar{
      position:absolute;
      top:0px;
      left:0px;
      right:0px;
      bottom:0px;
      width:100%;
      height:100%;
      opacity: 0;
    }




  }
}

