<div id="alumno" v-cloak>

    <h5 align="center">Exámenes Rendidos </h5>
    <hr>
    <div class="container">


        <table id="ejemplo" class="table table-stripe">
            <thead>
                <tr>
                    <th style="width:60%;">Nombre Examen</th>
                    <th style="width:40%;">Acción</th>
                </tr>
            </thead>
            <% for(var i=0; i< ecoes.length; i++){%>

                <!-- IF(visualizacion es falsa .. no mostrar linea)  -->
                <tr>
                    <td>
                        <%=ecoes[i].nombreEcoe%>
                    </td>
                    <td><button v-if="<%= ecoes[i].visualizacion%>" class="btn btn-primary" @click="gotoresult(<%= ecoes[i].id%>)"> Ver Resultados</button>
                        <button v-else class="btn btn-primary" disabled> En evaluación</button>
                    </td>
                </tr>
                <%}%>
        </table>
    </div>




</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>