<div id="contenido" v-cloak>

    <div class="jumbotron">
        <div class="rounded" style="background: white; padding: 10px">
            <table>
                <tr>
                    <td>
                        <h5><strong>Nombre Estación: <%= dataECOE.estacion.nombre%> </strong></h5>
                    </td>
                    <td>
                        <p style="font-size:25px"> </p>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><strong>Nombre Exámen: </strong></td>
                    <td>
                        <%= dataECOE.ecoe.nombreEcoe%>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><strong>Estado Estacion: </strong></td>
                    <td>
                        <%if(dataECOE.estacion.estado_preparacion=="revisado"){%>
                            <strong style="color: green">Aprobada</strong>
                            <%}%>
                                <%if(dataECOE.estacion.estado_preparacion=="espera-revision"){%>
                                    <strong style="color: goldenrod">En espera de revisión</strong>
                                    <%}%>
                                        <%if(dataECOE.estacion.estado_preparacion=="no-revisado"){%>
                                            <strong style="color: red">Sin contenido</strong>
                                            <%}%>
                                                <%if(dataECOE.estacion.estado_preparacion=="en-revision"){%>
                                                    <strong style="color: darkblue">Observacion ingresada</strong>
                                                    <%}%>



                    </td>
                </tr>
            </table>
        </div>



        <br>
        <%if(dataECOE.estacion.contenido.length!=0){%>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Contenido</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/estacion/contenido/items/<%=dataECOE.estacion.id%>?">Elementos Rúbrica</a>
                </li>
                <div>
                    <hr>
                </div>

            </ul>
            <hr class="my-2">
            <%if(dataECOE.estacion.observacion==="" || dataECOE.estacion.estado_preparacion==="revisado"){%>

            <%}else{%>
                    <div class="rounded" style="background: white; padding: 10px;">
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">Observación:</h4>
                            <p>
                                <%=dataECOE.estacion.observacion%>
                            </p>
                        </div>
                    </div>
                    <hr>
            <%}%>
<!-- ----------------------------------CONTENT EDITABLE------------------------------------ -->



                        <div class="card card-columns">
                            <div class="card-header">
                                Contenido Estación
                            </div>
                            <div class="card-body" id="texto">
                                <p v-for="item in textosplit"> {{item}} </p>

                            </div>

                        </div>

                        <div class="card card-columns">
                            <div class="card-header">
                                Imagenes adjuntas
                            </div>
                            <div class="card-body" align="center" v-if="this.dataECOE.estacion.contenido[0].image">
                                <img class="img-thumbnail " v-bind:src="this.dataECOE.estacion.contenido[0].image">

                            </div>
                            <div class="card-body" align="center" v-if="this.dataECOE.estacion.contenido[0].image2">
                                <img class="img-thumbnail " v-bind:src="this.dataECOE.estacion.contenido[0].image2">

                            </div>
                            <div class="card-body" align="center" v-if="this.dataECOE.estacion.contenido[0].image3">
                                <img class="img-thumbnail " v-bind:src="this.dataECOE.estacion.contenido[0].image3">

                            </div>

                        </div>




                        <%if(req.me.tipoUsuario=="docente"){%>
                            <%if(dataECOE.estacion.estado_preparacion!="revisado"){%>

                                <button class="btn btn-dark btn-block " @click="clickbotonEditar()">Editar</button>

                            <%}%>
                        <%}%>


    

<!-- ----------------------------------END CONTENT EDITABLE------------------------------------ -->
        <%}else{%>
                                            <div v-if="!formVista " align="center ">
                                                <div class="alert alert-info " role="alert ">
                                                    Estacion sin Contenido.
                                                </div>
                                            </div>
                                            <div v-if="formVista ">





                                                <ajax-form action="newcontenido" :syncing.sync="syncing " :cloud-error.sync="cloudError " :handle-parsing="handleParsingUploadContenidoForm " @submitted="submittedFormContenido ">
                                                    <div class="form-group ">
                                                        <label for="exampleFormControlTextarea1 ">Problema</label>
                                                        <textarea class="form-control " id="exampleFormControlTextarea1 " v-model="uploadFormData.texto " rows="4 " placeholder="Ingrese el caso clínico a evaluar para la estación "></textarea>
                                                        <div class="invalid-feedback" v-if="formErrors.texto">Ingrese texto.</div>
                                                    </div>

                                                    <input class="form-control " id="idestacion" type="hidden" :v-model.trim="uploadFormData.estacionProp=<%= dataECOE.estacion.id %>">
                                                    <p>Puede agregar hasta 3 imágenes, (no obligatorio)</p>
                                                    <div class="card-img" align="center">
                                                        <img class="img-thumbnail" style="max-width: 400px; max-height: 400px;" v-if="uploadFormData.image" alt="A preview of the selected item" :src="uploadFormData.image" />
                                                    </div>


                                                    <br>
                                                    <div class="col d-flex-column justify-content-center" id="image1" align="center">
                                                        <span class="file-upload-button btn btn-sm" :class="[formErrors.image ? 'btn-outline-danger' : !uploadFormData.image ? 'btn-outline-success' : 'btn-outline-secondary mr-3']">
                                                        <span  class="button-text" v-if="!uploadFormData.image">Selecionar imagen</span>
                                                        <span class="button-text" v-else>Cambiar imagen</span>
                                                        <input type="file" accept="image/jpeg" id="btn_enviar" :disabled="syncing" accept="image/*" style="opacity: 0;
                                                            width: 100%;
                                                            height: 100%;
                                                            top: 0px;
                                                            left: 0px;
                                                            position: absolute;
                                                            cursor: pointer;" @change="changeFileInput($event.target.files)" />
                                                        </span>
                                                    </div>
                                                    <div v-if="uploadFormData.image" align="center" style="padding-top: 15px;">
                                                        <span class="btn btn-sm btn-danger"v-if="!(uploadFormData.image2 || uploadFormData.image3)"  @click="eliminarImagenNew(1)">Eliminar imagen</span>
                                                        <span class="btn btn-sm btn-danger " style="opacity: 30%;"  v-else  disabled>Eliminar imagen</span>
                                                    </div>



                                                    <div v-if="uploadFormData.image">
                                                        <hr>
                                                        <div class="card-img" align="center">
                                                            <img class="img-thumbnail" style="max-width: 400px; max-height: 400px;" v-if="uploadFormData.image2" :src="uploadFormData.image2" />
                                                        </div>
                                                        <div class="col d-flex-column justify-content-center" id="image2" align="center">
                                                            <span class="file-upload-button btn btn-sm" :class="[formErrors.image2 ? 'btn-outline-danger' : !uploadFormData.image2 ? 'btn-outline-success' : 'btn-outline-secondary mr-3']">
                                                        <span  class="button-text" v-if="!uploadFormData.image2">Selecionar imagen</span>
                                                            <span class="button-text" v-else>Cambiar imagen</span>
                                                            <input type="file" accept="image/jpeg" id="btn_enviar2" :disabled="syncing" accept="image/*" style="opacity: 0;
                                                            width: 100%;
                                                            height: 100%;
                                                            top: 0px;
                                                            left: 0px;
                                                            position: absolute;
                                                            cursor: pointer;" @change="changeFileInput2($event.target.files)" />
                                                            </span>
                                                        </div>
                                                        <div v-if="uploadFormData.image2" align="center" style="padding-top: 15px;">
                                                            <span class="btn btn-sm btn-danger"  v-if="!uploadFormData.image3" @click="eliminarImagenNew(2)">Eliminar imagen</span>
                                                            <span class="btn btn-sm btn-danger " style="opacity: 30%;"  v-else  disabled>Eliminar imagen</span>
                                                        </div>
                                                    </div>


                                                    <div v-if="uploadFormData.image2">
                                                        <hr>
                                                        <div class="card-img" align="center">
                                                            <img class="img-thumbnail" style="max-width: 400px; max-height: 400px;" v-if="uploadFormData.image3" alt="A preview of the selected item" :src="uploadFormData.image3" />
                                                        </div>
                                                        <div class="col d-flex-column justify-content-center" id="image3" align="center">
                                                            <span class="file-upload-button btn btn-sm" :class="[formErrors.image3 ? 'btn-outline-danger' : !uploadFormData.image3 ? 'btn-outline-success' : 'btn-outline-secondary mr-3']">
                                                        <span  class="button-text" v-if="!uploadFormData.image3">Selecionar imagen</span>
                                                            <span class="button-text" v-else>Cambiar imagen</span>
                                                            <input type="file" accept="image/jpeg" id="btn_enviar3" :disabled="syncing" accept="image/*" style="opacity: 0;
                                                            width: 100%;
                                                            height: 100%;
                                                            top: 0px;
                                                            left: 0px;
                                                            position: absolute;
                                                            cursor: pointer;" @change="changeFileInput3($event.target.files)" />
                                                            </span>
                                                        </div>
                                                        <div v-if="uploadFormData.image3" align="center" style="padding-top: 15px;">
                                                            <span class="btn btn-sm btn-danger" @click="eliminarImagenNew(3)">Eliminar imagen</span>
                                                        </div>
                                                    </div>

                                                    <div align="right">
                                                        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Guardar Contenido</ajax-button>
                                                    </div>

                                                </ajax-form>








                                            </div>
                                            <hr>
                            <%if(req.me.tipoUsuario=="docente"){%>

                                                <div align="center">
                                                    <!--muestra formulario para ingresar contenido-->
                                                    <button v-if="ViewBotonAdd" @click="formularioContenido()" class=" btn btn-dark btn-lg rounded ">Ingresar Contenido</button>
                                                </div>
                            <%}%>



        <%}%>








    </div>







    <!--modal editar-->


    <modal id="modalEdit" class="modal-mask bg-grey" v-if="modaledit" @close="modaledit = false">
      

        <div class="shadow-lg bg-white rounded p-4 mt-4 ">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <p align="center"> Editar Contenido</p>
            </div>
            <hr>
            <ajax-form action="modificarcontenidoprofesor" :syncing.sync="syncing " :cloud-error.sync="cloudError " :handle-parsing="handleParsingFormEditarECOE " @submitted="submittedFormEditarECOE ">
                <div class="form-group ">
                    <label for="exampleFormControlTextarea1 ">Problema</label>
                    <textarea class="form-control " id="textoDescription2" v-model="formEdit.texto " rows="4 " placeholder="Ingrese el caso clínico a evaluar para la estación "></textarea>
                </div>
                <input class="form-control " id="idestacion3" type="hidden" :v-model.trim="formEdit.estacionProp=<%= dataECOE.estacion.id %>">
                <p>Puede agregar hasta 3 imágenes, (no obligatorio)</p>

                
                <div class="card-img" align="center">
                    <img class="img-thumbnail" style="max-width: 400px; max-height: 400px;" v-if="formEdit.image" alt="A preview of the selected item" :src="formEdit.image" />
                </div>
                
                <br>
                <div class="col d-flex-column justify-content-center" id="image1" align="center">
                    <span class="file-upload-button btn btn-sm" :class="[formErrors.image ? 'btn-outline-danger' : !formEdit.image ? 'btn-outline-success' : 'btn-outline-secondary mr-3']">
                    <span  class="button-text" v-if="!formEdit.image">Selecionar imagen</span>
                    <span class="button-text" v-else>Cambiar imagen</span>
                    <input type="file" accept="image/jpeg" id="btn_enviar" :disabled="syncing" accept="image/*" style="opacity: 0;
                        width: 100%;
                        height: 100%;
                        top: 0px;
                        left: 0px;
                        position: absolute;
                        cursor: pointer;" @change="changeFileInputEdit($event.target.files)" />
                    </span>
                </div>
                <div v-if="formEdit.image" align="center" style="padding-top: 15px;">
                    <span class="btn btn-sm btn-danger"  v-if="!(formEdit.image2 || formEdit.image3)"  @click="deleteImageEdit(1)">Eliminar imagen</span>
                    <span class="btn btn-sm btn-danger " style="opacity: 30%;"  v-else  disabled>Eliminar imagen</span>
                </div>
                <div v-if="formEdit.image">
                    <hr>
                    <div class="card-img" align="center">
                        <img class="img-thumbnail" style="max-width: 400px; max-height: 400px;" v-if="formEdit.image2" :src="formEdit.image2" />
                    </div>
                    <div class="col d-flex-column justify-content-center" id="image2" align="center">
                        <span class="file-upload-button btn btn-sm" :class="[formErrors.image2 ? 'btn-outline-danger' : !formEdit.image2 ? 'btn-outline-success' : 'btn-outline-secondary mr-3']">
                    <span  class="button-text" v-if="!formEdit.image2">Selecionar imagen</span>
                        <span class="button-text" v-else>Cambiar imagen</span>
                        <input type="file" accept="image/jpeg" id="btn_enviar2" :disabled="syncing" accept="image/*" style="opacity: 0;
                        width: 100%;
                        height: 100%;
                        top: 0px;
                        left: 0px;
                        position: absolute;
                        cursor: pointer;" @change="changeFileInputEdit2($event.target.files)" />
                        </span>
                    </div>
                </div>
                <div v-if="formEdit.image2" align="center" style="padding-top: 15px;">
                    <span class="btn btn-sm btn-danger"  v-if="!formEdit.image3" @click="deleteImageEdit(2)">Eliminar imagen</span>
                    <span class="btn btn-sm btn-danger " style="opacity: 30%;"  v-else  disabled>Eliminar imagen</span>
                </div>



                <div v-if="formEdit.image2">
        
                    <hr>
          
                    <div class="card-img" align="center" v-if="formEdit.image3">
                        <img class="img-thumbnail" style="max-width: 400px; max-height: 400px;" alt="A preview of the selected item" :src="formEdit.image3" /> 
                  
        
                    </div>
                    
                    <div class="col d-flex-column justify-content-center" id="image3_edit" align="center">
                        <span class="file-upload-button btn btn-sm" :class="[formErrors.image3 ? 'btn-outline-danger' : !formEdit.image3 ? 'btn-outline-success' : 'btn-outline-secondary mr-3']">
                    
                        <span  class="button-text" v-if="!formEdit.image3">Selecionar imagen</span>
                        <span class="button-text" v-else>Cambiar imagen</span>
                        <input type="file" id="editimage3" accept="image/jpeg" id="btn_enviar3" :disabled="syncing" accept="image/*" style="opacity: 0;
                        width: 100%;
                        height: 100%;
                        top: 0px;
                        left: 0px;
                        position: absolute;
                        cursor: pointer;" @change="changeFileInputEdit3($event.target.files)" />
                        </span>

                        
                    </div>
                    <div v-if="formEdit.image3" align="center" style="padding-top: 15px;">
                        <span class="btn btn-sm btn-danger" @click="deleteImageEdit(3)">Eliminar imagen</span>
                    </div>


                    
                </div>
                <hr>
                <div align="center">
                    <ajax-button type="submit" :syncing="syncing" class="btn btn-primary btn-lg btn-block">Guardar Contenido</ajax-button>
                    <hr>
                    <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" @click="modaledit=false">Cancelar</button>
                </div>
            </ajax-form>
        </div>
    </modal>












</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>