<div id="ejecucionecoe" v-cloak>


    <div v-if="esperandoInicio">
        <br>
        <div v-if="ecoe.tiempoInicio===0" align="center">
            <h2 style="color: #366da3">Esperando que inicie el circuito.</h2>

        </div>
        <div v-else align="center">
            <h2 style="color: #366da3">Esperando que se reanude el circuito.</h2>

        </div>
        <div align="center" style="padding: 0">
            <img src="https://uploads.toptal.io/blog/image/122384/toptal-blog-image-1489082600190-18810897d0cb0ab42b276537a18dafdf.gif" alt="Funny image" style="max-width: 60%">

        </div>

    </div>
    <div v-else class="jumbotron">

        <div class="rounded" style="background-color: white; padding: 10px">

            <a>Nombre Estacion: {{estacion.nombre}}    </a>
            <br> <a>Ecoe Estado: {{ecoe.estadoEcoe}} </a>

            <!--
            <div v-if="estadociclo" align="right" style="color: green">
                <div v-if="tiempoctual!=0"> <strong>Tiempo ciclo: </strong>{{tiempoctual}}</div>
                <div v-else> Tiempo Concluido</div>
            </div>
            <div v-else align="right" style="color: red">
                <div v-if="tiempoctual!=0"> <strong>Tiempo ciclo: </strong> {{tiempoctual}}</div>
                <div v-else> Tiempo Concluido</div>
            </div>
-->
            <!--<div align="right"><strong>Tiempo ECOE: </strong>{{tiempoTOTAL}}</div>  -->
            <!--  tiempo total del ecoe  -->

        </div>

        <hr>

        <div class="rounded" style="background-color:white; padding: 10px; ">
            <h5 style="color: #4e4e4e">Por evaluar</h5>
            <hr>
            <table class="table table-striped  rounded">
                <thead style="background-color:#c3d6e9">
                    <tr>
                        <th>
                            <div align="center">
                                <h5 style="color: #103153">Rut </h5>
                            </div>
                        </th>
                        <th scope="col">
                            <div align="center">
                                <h5 style="color: #103153">Participantes </h5>
                            </div>
                        </th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <div>

                        <% for(var i=0;i< ecoe.participantesECOE.length; i++){%>
                            <tr>
                                <!-- v-for="participante in ecoe.participantesECOE"-->
                                <%if(!ecoe.participantesECOE[i].evaluacion){%>
                                    <td>
                                        <div align="center"><strong style="color: #0a4d91;"> <%= ecoe.participantesECOE[i].rut%></strong></div>

                                    </td>
                                    <td>
                                        <div align="center"><strong style="color: #0a4d91;"><%= ecoe.participantesECOE[i].nombreParticipante%></strong></div>
                                    </td>
                                    <!--nombre-->
                                    <td>

                                        <div v-if="estadociclo" align="right"><button @click="irEvaluacion(<%= ecoe.participantesECOE[i].id%>, estacion.id)" class="btn btn-info " :disabled='!estadociclo'>Evaluar</button></div>
                                        <div v-else align="right"><button class="btn btn-info " :disabled='!estadociclo'>Evaluar</button></div>
                                        <!--la repito para que no se pueda editar en inpeccionar de browser-->

                                        <!--<div align="right"><button class="btn btn-info">Evaluar</button></div>-->
                                    </td>
                                    <!--accion-->

                                    <%}%>
                            </tr>
                            <%}%>
                    </div>







                </tbody>
            </table>

        </div>


        <br>


        <div class="rounded" style="background-color:white; padding: 10px; ">
            <h5 style="color: #4e4e4e">Evaluados</h5>
            <hr>
            <table class="table table-striped  rounded">
                <thead style="background-color:#c3d6e9">
                    <tr>
                        <th>
                            <div align="center">
                                <h5 style="color: #103153">Rut </h5>
                            </div>
                        </th>
                        <th scope="col">
                            <div align="center">
                                <h5 style="color: #103153">Participantes </h5>
                            </div>
                        </th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <div>
                        <% for(var i=0;i< ecoe.participantesECOE.length; i++){%>
                            <tr>
                                <!-- v-for="participante in ecoe.participantesECOE"-->
                                <%if(ecoe.participantesECOE[i].evaluacion){%>
                                    <td>
                                        <div align="center"><strong style="color: #0a4d91;"> <%= ecoe.participantesECOE[i].rut%></strong></div>

                                    </td>
                                    <td>
                                        <div align="center"><strong style="color: #0a4d91;"><%= ecoe.participantesECOE[i].nombreParticipante%></strong></div>
                                    </td>
                                    <!--nombre-->
                                    <td>

                                        <!--   <div v-if="estadociclo" align="right"><button @click="irEvaluacion(<%= ecoe.participantesECOE[i].id%>, estacion.id)" class="btn btn-info " :disabled='!estadociclo'>Evaluar</button></div>
                                            <div v-else align="right"><button class="btn btn-info " :disabled='!estadociclo'>Evaluar</button></div>-->
                                        <!--la repito para que no se pueda editar en inpeccionar de browser-->

                                        <!--<div align="right"><button class="btn btn-info">Evaluar</button></div>-->
                                    </td>
                                    <!--accion-->
                                    <%}%>
                            </tr>
                            <%}%>
                    </div>







                </tbody>
            </table>

        </div>








    </div>


    <div v-if="!esperandoInicio" class="table-bordered btn-block rounded" align="center" style="position:fixed;left:0;bottom:0; background-color:#d0d9e2; height: 50px; padding-top: 10px; padding-right: 20px">
        <div class="rounded" v-if="estadociclo" align="right" style="color: green; ">
            <div v-if="tiempoctual!=0"> <strong>Tiempo ciclo: </strong>{{tiempoctual}}</div>
            <div v-else> Tiempo Concluido</div>
        </div>
        <div class="rounded" v-else align="right" style="color: red ; ">
            <div v-if="tiempoctual!=0"> <strong>Tiempo ciclo: </strong> {{tiempoctual}}</div>
            <div v-else> Tiempo Concluido</div>
        </div>
    </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>