<div id="elementosrubrica" v-cloak>




    <div class="jumbotron">
        <div class="rounded " style="background: white; padding: 10px; border-color: royalblue">
            <table>
                <tr>
                    <td>
                        <h5><strong>Nombre Estación: {{estacion.nombre}} </strong></h5>
                    </td>
                    <td>
                        <p style="font-size:25px"> </p>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><strong>Nombre Exámen: </strong></td>
                    <td>
                        {{ecoe.nombreEcoe}}


                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><strong>Estado Estacion: </strong></td>
                    <td>
                        <%if(estacion.estado_preparacion=="revisado"){%>
                            <strong style="color: green">Aprobada</strong>
                            <%}%>
                                <%if(estacion.estado_preparacion=="espera-revision"){%>
                                    <strong style="color: goldenrod">En espera de revision</strong>
                                    <%}%>
                                        <%if(estacion.estado_preparacion=="no-revisado"){%>
                                            <strong style="color: red">no-revisado</strong>
                                            <%}%>
                                                <%if(estacion.estado_preparacion=="en-revision"){%>
                                                    <strong style="color: darkblue">Observacion ingresada</strong>
                                                    <%}%>



                    </td>
                </tr>
            </table>
        </div>
        <br>



        <%//if(dataECOE.estacion.contenido.length!=0){%>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link " v-bind:href="'/estacion/contenido/'+estacion.id">Contenido</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Elementos Rúbrica</a>
                </li>

            </ul>
            <div>
                <hr>



            </div>


            <%if(req.me.tipoUsuario=="coordinador"){%>
                <button class="btn btn-primary btn-block" @click="goEcoe()"> Ir a ECOE</button>
                <hr>
                <%}%>
                    <%if(estacion.observacion==="" || estacion.estado_preparacion==="revisado"){%>

                        <%}else{%>
                            <div class="rounded" style="background: white; padding: 10px;">
                                <div class="alert alert-info" role="alert">
                                    <h4 class="alert-heading">Observación:</h4>
                                    <p>{{estacion.observacion}}</p>
                                </div>
                            </div>
                            <hr>
                            <%}%>
                                <div class="rounded" style="background: white; padding: 10px;">
                                    <div style="text-align: center">Porcentaje cubierto </div>
                                    <div align="center"><strong>{{totalPorciento}}%</strong></div>
                                    <div class="progress">


                                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" v-bind:style="{ width: totalPorciento + '%' }" v-bind:aria-valuenow="totalPorciento" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>



                                <div>
                                    <hr>
                                </div>
                                <div v-if="!modoEdicion">
                                    <div v-for="(elemento, index) in elementos">
                                        <table class="table  table-bordered " style="background-color: lightgrey" content="width=device-width">



                                            <tbody>
                                                <div>
                                                    <tr>


                                                        <div class="card-header rounded" style="background: white; min-height: 45px ">
                                                            <%if(req.me.tipoUsuario=="docente" ){%>
                                                                <%if(estacion.estado_preparacion!="revisado"){%>
                                                                    <button class="btn  " @click="clickbotonEditar(elemento)" style="background-color: rgba(0, 0, 0, 0.116); float: right; border-color: rgb(180, 179, 179)">
                                                                    <i  class=" fas fa-edit " style="font-size: 20px; color: rgba(93, 91, 255, 0.89) "></i>
                                                        </button>
                                                                    <button class="btn  " @click="clickbotonEliminar(elemento.id)" style="background-color: rgba(0, 0, 0, 0.116); float: right; border-color: rgb(180, 179, 179)">
                                                        <i  class=" fas fa-trash-alt " style="font-size: 20px; color: rgb(253, 63, 63) "></i>
                                                      </button>
                                                                    <%}%>
                                                                        <%}%>
                                                                            {{index+1}}. {{elemento.item}}


                                                        </div>
                                                    </tr>
                                                    <tr style="background: white">
                                                        <td>
                                                            <div class="card text-white bg-success " align="center" style="width: 30;">
                                                                <div class="card-header">Logrado</div>
                                                                <div class="card-body">

                                                                    <h5 class="card-title">{{elemento.porcentajeLogrado}}%</h5>

                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="text-right text-nowrap">
                                                            <div class="card text-white bg-warning " align="center" style="width: 30;">

                                                                <div class="card-body ">
                                                                    <div class="card-header">Medio</div>

                                                                    <h5 class="card-title">{{elemento.porcentajeMedio}}%</h5>

                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="text-right text-nowrap ">
                                                            <div class="card text-white bg-danger" align="center" style="width: 30;">
                                                                <div class="card-header">No logrado</div>
                                                                <div class="card-body">
                                                                    <h5 class="card-title">0%</h5>

                                                                </div>
                                                            </div>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <div class="card-footer text-muted" style="background:rgb(241, 245, 252)">
                                                            {{elemento.nota}}
                                                        </div>
                                                    </tr>


                                                </div>


                                            </tbody>



                                        </table>
                                    </div>


                                    <div>
                                        <hr>
                                    </div>
                                    <%if(req.me.tipoUsuario=="docente"){%>
                                        <%if(estacion.estado_preparacion!="revisado"){%>

                                            <div align='right'>
                                                <div align="center">

                                                    <button type="button" v-if="totalPorciento!=100" class="btn btn-outline-info" data-dismiss="modal" @click="modonew()">Nuevo</button>


                                                </div>
                                            </div>
                                            <%}%>
                                                <% }else{%>

                                                    <%if(estacion.estado_preparacion!="revisado"){%>
                                                        <ajax-form v-if="totalPorciento===100" action="aprobarestacion" :syncing.sync="syncing" @submitted="submittedFormEstado" :handle-parsing="handleParsingEstado">
                                                            <ajax-button type="submit" class="btn btn-success btn-block">
                                                                Aprobar estación
                                                            </ajax-button>
                                                        </ajax-form>
                                                        <%}%>

                                                            <hr>

                                                            <%if(!estacion.observacion || estacion.estado_preparacion==="revisado" ){%>
                                                                <button v-if="ecoe.estadoEcoe=='no-preparado'" class="btn btn-warning btn-block" @click="clickbotonObservacion()">Ingresar observación</button>
                                                                <%}else{%>
                                                                    <button class="btn btn-warning btn-block" @click="clickbotonObservacion()">Modificar observación</button>

                                                                    <%}%>
                                                                        <%//}%>
                                                                            <%}%>



                                </div>


                                <div v-else>
                                    <div v-for="(formelemento, index) in Formelementos ">
                                        <table class="table table-bordered " style="background-color: lightgrey " content="width=device-width ">

                                            <tbody>
                                                <tr>
                                                    <div class="card-header rounded " style="background: white; ">
                                                        <p>Elemento {{index+1}}</p>
                                                        <input class="form-control " type="text " v-model.trim="formelemento.item ">
                                                    </div>
                                                </tr>
                                                <tr style="background: white ">
                                                    <td>
                                                        <div class="card text-white bg-success " align="center " style="width: 30; ">
                                                            <div class="card-header ">Logrado</div>
                                                            <div class="card-body ">
                                                                <input class="form-control " type="number " v-model.trim="formelemento.porcentajeLogrado ">

                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right text-nowrap ">
                                                        <div class="card text-white bg-warning " align="center " style="width: 30; ">

                                                            <div class="card-body ">
                                                                <div class="card-header ">Medio</div>

                                                                <input class="form-control " type="number " v-model.trim="formelemento.porcentajeMedio ">

                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right text-nowrap ">
                                                        <div class="card text-white bg-danger " align="center " style="width: 30; ">
                                                            <div class="card-header ">No logrado</div>
                                                            <div class="card-body ">
                                                                <h5 class="card-title ">0%</h5>

                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                                <tr>

                                                    <div class="card-footer text-muted " style="background:rgb(241, 245, 252) ">
                                                        <a>Nota item</a>
                                                        <input class="form-control " type="text " v-model.trim="formelemento.nota ">

                                                    </div>
                                                </tr>

                                            </tbody>


                                        </table>

                                    </div>


                                    <div>
                                        <hr>
                                    </div>

                                    <div align='right'>
                                        <div align="center ">
                                            <button type="button " class="btn btn-outline-info " data-dismiss="modal " @click="modoVista() ">Cancelar</button>

                                            <button type="button " class="btn btn-outline-info " data-dismiss="modal " @click="virtualPageSlugNew=false ">Guardar</button>


                                        </div>
                                    </div>

                                </div>







    </div>


    <!-- MODALS-->


    <modal class="modal-mask bg-grey " v-if="modalBorrar " @close="modalBorrar=false ">
        <!--modal para eliminar elemento-->


        <div class="shadow-lg bg-white rounded p-4 mt-4 ">
            <div class="modal-header ">
            </div>
            <div class="modal-body ">
                <p align="center "> ¿Realmente desea eliminar este elemento?</p>
            </div>
            <hr>


            <div align="center ">
                <button type="button " class="btn btn-secondary btn-lg btn-block " data-dismiss="modal " @click="modalBorrar=false ">Cancelar</button>
                <hr>
                <ajax-form action="borrarelemento" :syncing.sync="syncing" @submitted="submittedFormEliminar" :handle-parsing="handleParsingFormEliminar">
                    <ajax-button type="submit" class="btn btn-danger btn-lg btn-block ">
                        Eliminar
                    </ajax-button>
                </ajax-form>


            </div>
        </div>
    </modal>

    <!--MODAL AGRAGAR, MODIFICAR OBSERVACION-->
    <modal class="modal-mask bg-grey " v-if="modalObs " @close="modalObs=false ">


        <div class="shadow-lg bg-white rounded p-4 mt-4 ">
            <div class="modal-header ">
            </div>
            <div class="modal-body ">
                <p align="center "> Ingreso Observación </p>
            </div>
            <a>Ingrese Observación para la estación</a>

            <div align="center ">
                <ajax-form action="ingresarobservacion" :syncing.sync="syncing " @submitted="submittedFormObs" :handle-parsing="handleParsingObs">

                    <textarea class="form-control" :class="[formErrors.observacion ? 'is-invalid' : ''] " id="exampleFormControlTextarea1" v-model="formDataObs.observacion" rows="4 "></textarea>
                    <div class="invalid-feedback " v-if="formErrors.observacion ">Ingrese observacion.</div>
                    <hr>
                    <ajax-button type="submit " class="btn btn-info btn-lg btn-block ">
                        Ingresar
                    </ajax-button>
                </ajax-form>
                <hr>
                <button type="button " class="btn btn-secondary btn-lg btn-block" data-dismiss="modal " @click="modalObs=false ">Cancelar</button>

            </div>
        </div>
    </modal>
    <!--MODAL editar elemento-->
    <modal class="modal-mask bg-grey" v-if="modalEditar" @close="modalEditar=false">


        <div class="shadow-lg bg-white rounded p-4 mt-4 ">
            <div class="modal-header ">
            </div>
            <div class="modal-body ">
                <p align="center "> Edicion item de evaluación</p>
            </div>

            <ajax-form action="modificarelemento" :syncing.sync="syncing " :cloud-error.sync="cloudError " @submitted="submittedFormEditar" :handle-parsing="handleParsingFormEditar">

                <table class="table table-bordered " style="background-color: lightgrey " content="width=device-width ">


                    <tbody>
                        <tr>
                            <div class="card-header rounded " style="background: white; ">
                                <p>Item</p>
                                <input class="form-control " v-model="formEditar.item " type="text " :class="[formErrors.item ? 'is-invalid' : ''] " placeholder="EJ: ¿Por qué es necesario resolver hiperflujo pronto? ">
                                <div class="invalid-feedback " v-if="formErrors.item ">Ingrese item.</div>

                            </div>
                        </tr>
                        <tr style="background: white ">
                            <td>
                                <div class="card text-white bg-success " align="center " style="width: 30; ">
                                    <div class="card-header ">Logrado</div>
                                    <div class="card-body ">
                                        <input class="form-control " :class="[formErrors.porcentajeLogrado ? 'is-invalid' : ''] " v-model="formEditar.porcentajeLogrado " type="number " placeholder="30 ">
                                        <div class="invalid-feedback " v-if="formErrors.porcentajeLogrado ">Ingrese un porcentaje valido.</div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right text-nowrap ">
                                <div class="card text-white bg-warning " align="center " style="width: 30; ">

                                    <div class="card-body ">
                                        <div class="card-header ">Medio</div>

                                        <input class="form-control " type="number " :class="[formErrors.porcentajeMedio ? 'is-invalid' : ''] " v-model="formEditar.porcentajeMedio " placeholder="15 ">
                                        <div class="invalid-feedback " v-if="formErrors.porcentajeMedio ">Ingrese un porcentaje valido.</div>

                                    </div>
                                </div>
                            </td>

                        </tr>
                        <tr>

                            <div class="card-footer text-muted" style="background:rgb(241, 245, 252) ">
                                <a>Nota item</a>
                                <input class="form-control " type="text " v-model="formEditar.nota " :class="[formErrors.nota ? 'is-invalid' : ''] " placeholder="EJ: -Respuesta esperada: evitar cambios en circuilación pulmoar ">
                                <div class="invalid-feedback " v-if="formErrors.nota">Ingrese nota.</div>

                            </div>
                        </tr>

                    </tbody>


                </table>
                <div align="center ">
                    <div v-if="maximoEdit" class="alert alert-warning" role="alert">
                        Excede el procentaje total, debe ingresar un porcentaje logrado menor o igual a {{-1*(this.totalPorcientoEDIT-100)}}
                    </div>
                    <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal" @click="virtualPageSlugNew=false">Cancelar</button>


                    <ajax-button type="submit" :syncing="syncing" class="btn btn-success btn-lg">Guardar</ajax-button>


                </div>



            </ajax-form>

        </div>

    </modal>














    <!--MODAL PARA NUEVO ELEMENTO-->
    <modal class="modal-mask bg-grey " v-if="virtualPageSlugNew " @close="virtualPageSlugNew=false ">


        <div class="shadow-lg bg-white rounded p-4 mt-4 ">
            <div class="modal-header ">
            </div>
            <div class="modal-body ">
                <p align="center "> Nuevo item de evaluación</p>
            </div>

            <ajax-form action="registroelemento" :syncing.sync="syncing " :cloud-error.sync="cloudError " @submitted="submittedForm " :handle-parsing="handleParsingForm ">

                <table class="table table-bordered " style="background-color: lightgrey " content="width=device-width ">


                    <tbody>
                        <tr>
                            <div class="card-header rounded " style="background: white; ">
                                <p>Item</p>
                                <input class="form-control " v-model="formData.item " type="text " :class="[formErrors.item ? 'is-invalid' : ''] " placeholder="EJ: ¿Por qué es necesario resolver hiperflujo pronto? ">
                                <div class="invalid-feedback " v-if="formErrors.item ">Ingrese item.</div>

                            </div>
                        </tr>
                        <tr style="background: white ">
                            <td>
                                <div class="card text-white bg-success " align="center " style="width: 30; ">
                                    <div class="card-header ">Logrado</div>
                                    <div class="card-body ">
                                        <input class="form-control " :class="[formErrors.porcentajeLogrado ? 'is-invalid' : ''] " v-model="formData.porcentajeLogrado " type="number " placeholder="30 ">
                                        <div class="invalid-feedback " v-if="formErrors.porcentajeLogrado ">Ingrese un porcentaje valido.</div>

                                    </div>
                                </div>
                            </td>
                            <td class="text-right text-nowrap ">
                                <div class="card text-white bg-warning " align="center " style="width: 30; ">

                                    <div class="card-body ">
                                        <div class="card-header ">Medio</div>

                                        <input class="form-control " type="number " :class="[formErrors.porcentajeMedio ? 'is-invalid' : ''] " v-model="formData.porcentajeMedio " placeholder="15 ">
                                        <div class="invalid-feedback " v-if="formErrors.porcentajeMedio ">Ingrese un porcentaje valido.</div>

                                    </div>
                                </div>
                            </td>

                        </tr>
                        <tr>

                            <div class="card-footer text-muted" style="background:rgb(241, 245, 252) ">
                                <a>Nota item</a>
                                <input class="form-control " type="text " v-model="formData.nota " :class="[formErrors.nota ? 'is-invalid' : ''] " placeholder="EJ: -Respuesta esperada: evitar cambios en circuilación pulmoar ">
                                <div class="invalid-feedback " v-if="formErrors.nota ">Ingrese nota.</div>

                            </div>
                        </tr>

                    </tbody>


                </table>
                <div align="center ">
                    <div v-if="maximo" class="alert alert-warning" role="alert">
                        Excede el procentaje total, debe ingresar un porcentaje logrado menor o igual a {{-1*(this.totalPorciento-100)}}
                    </div>
                    <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal" @click="virtualPageSlugNew=false">Cancelar</button>


                    <ajax-button type="submit" :syncing="syncing" class="btn btn-secondary btn-lg">Guardar</ajax-button>


                </div>
            </ajax-form>

        </div>

    </modal>














</div>












<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>