<div id="evaluacion" v-cloak>

    <div class="jumbotron">
        <div class="rounded " style="background: white; padding: 10px; border-color: royalblue">
            <table>
                <tr>
                    <td>
                        <strong> Nombre Estación: </strong>{{estacion.nombre}}
                    </td>
                    <td>
                        <p style="font-size:25px"> </p>
                    </td>
                </tr>
            </table>
            <!--<table>
                <tr>
                    <td><strong>Nombre Exámen: </strong></td>
                    <td>
                        {{ecoe.nombreEcoe}}


                    </td>
                </tr>
            </table>
            -->
            <table>
                <tr>
                    <td><strong>Nombre Participante: </strong></td>
                    <td>
                        {{alumno.nombreParticipante}}


                    </td>
                </tr>
            </table>



            <!--
            <div v-if="estadociclo" align="right" style="color: green">
                <div v-if="tiempoctual!=0"> <strong>Tiempo ciclo: </strong>{{tiempoctual}}</div>
                <div v-else> Tiempo Concluido</div>
            </div>
            <div v-else align="right" style="color: red">
                <div v-if="tiempoctual!=0"> <strong>Tiempo ciclo: </strong> {{tiempoctual}}</div>
                <div v-else> Tiempo Concluido</div>
            </div>
-->

            <hr>
            <div><button class="btn btn-info btn-block" @click="modalContenido=true"> Ver Contenido </button></div>

        </div>

        <hr>

        <%for(var i=0; i< elementos.length; i++){%>
            <table class="table  table-bordered " style="background-color: lightgrey" content="width=device-width">
                <tbody>
                    <div>
                        <tr>
                            <div class="card-header rounded" style="background: white; min-height: 45px ">
                                <%= i+1%>.
                                    <%= elementos[i].item %>
                            </div>
                        </tr>
                        <tr style="background: white">
                            <td>
                                <div class="card text-black border-success mb-3" style="background-color: #f0fffa " align="center" style="width: 30;">
                                    <div class="card-header text-success">Logrado</div>
                                    <div class="card-body">
                                        <label class="radio">
                                            <input v-if="estadociclo" type="radio" v-bind:name="<%= elementos[i].id %>" value="<%= elementos[i].porcentajeLogrado%>" v-model="porcentajes[<%= i%>].porcentajeObtenido" >
                                            <span class="text-success"><%= elementos[i].porcentajeLogrado%>%</span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="card text-black border-warning mb-3" style="background-color: #fffdf0 " align="center" style="width: 30;">
                                    <div class="card-header" style="color:rgb(199, 136, 2)">Medio</div>
                                    <div class="card-body">

                                        <label class="radio">
                                            <input v-if="estadociclo" type="radio" v-bind:name="<%= elementos[i].id %>" value="<%= elementos[i].porcentajeMedio%>" v-model="porcentajes[<%= i%>].porcentajeObtenido">
                                            <span style="color:rgb(199, 136, 2)"><%= elementos[i].porcentajeMedio%>%</span>
                                        </label>

                                    </div>
                                </div>
                            </td>

                            <td class="text-right text-nowrap ">
                                <div class="card text-black border-danger mb-3 " style="background-color: #fff0f0 " align="center" style="width: 30;">
                                    <div class="card-header text-danger">No logrado</div>
                                    <div class="card-body">
                                        <label class="radio">
                                            <input v-if="estadociclo" type="radio" v-bind:name="<%= elementos[i].id %>" value="0"  v-model="porcentajes[<%= i%>].porcentajeObtenido" checked>
                                            <span class="text-danger">0%</span>
                                        </label>

                                    </div>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <div class="card-footer text-muted" style="background:rgb(241, 245, 252)">
                                "
                                <%= elementos[i].nota %>"
                            </div>
                        </tr>
                    </div>


                </tbody>
            </table>
            <%}%>


                <hr>


                <div class="rounded " style="background: white; padding: 10px; border-color: royalblue">
                    <a>Observacion</a>
                    <textarea class="form-control" :class="[formErrors.observacion ? 'is-invalid' : ''] " id="exampleFormControlTextarea1" rows="4 " v-model="formData.observacion" :disabled="!estadociclo"></textarea>
                </div>





                <ajax-form action="enviarevaluacion" :syncing.sync="syncing" @submitted="submittedFormEvaluacion" :handle-parsing="handleParsingFormEvaluacion">
                    <ajax-button type="submit" class="btn btn-block btn-info">
                        Enviar Evaluación
                    </ajax-button>
                </ajax-form>



    </div>

    <modal class="modal-mask bg-grey " v-if="modalContenido " @close="modalContenido=false ">
        <!--modal para eliminar elemento-->
        <div class="shadow-lg bg-white rounded p-4 mt-4 ">
            <div class="modal-header " style="color:black">
                Contenido de estación
            </div>
            <hr>
            <div class="modal-body ">
                <div class="card card-columns">
                    <div class="card-header">
                        Contenido Estación
                    </div>
                    <div class="card-body">
                        <p v-for="item in textosplit"> {{item}} </p>
                    </div>
                </div>
                <div class="card card-columns">
                    <div class="card-header">
                        Imagenes adjuntas
                    </div>
                    <div class="card-body" align="center" v-if="this.estacion.contenido[0].image">
                        <img class="img-thumbnail " v-bind:src="this.estacion.contenido[0].image">

                    </div>
                </div>
            </div>
            <hr>

            <div align="center ">
                <button type="button " class="btn btn-secondary btn-lg btn-block " data-dismiss="modal " @click="modalContenido=false ">Cerrar</button>

            </div>
        </div>
    </modal>


    <modal class="modal-mask bg-grey " v-if="ModalSave">
        <!--modal para eliminar elemento-->


        <div class="shadow-lg bg-white rounded p-4 mt-4 ">
            <div class="modal-header " style="color:black">
                Tiempo estacion concluido.
            </div>
            <hr>
            <div class="alert alert-danger" role="alert">
                <div align="center"> No recargue la pestaña o perderá la evaluación actual. </div>
                <hr>
                <div align="center"> El tiempo ha concluido, haga click en el boton para <strong> "Enviar Evaluación" </strong>. </div>

            </div>


            <div class="rounded " style="background: white; padding: 10px; border-color: royalblue">
                <a>Observacion</a>
                <textarea class="form-control" :class="[formErrors.observacion ? 'is-invalid' : ''] " id="exampleFormControlTextarea1" rows="4 " v-model="formData.observacion"></textarea>
            </div>
            <div class="alert alert-info" role="alert">
                Si no tiene observaciones, dejar en blanco.
            </div>


            <hr>
            <ajax-form action="enviarevaluacion" :syncing.sync="syncing" @submitted="submittedFormEvaluacion" :handle-parsing="handleParsingFormEvaluacion">
                <ajax-button type="submit" class="btn btn-block btn-info">
                    Enviar Evaluación
                </ajax-button>
            </ajax-form>
            <button v-if="estadociclo" type="button " class="btn btn-secondary btn-lg btn-block " data-dismiss="modal " @click="ModalSave=false ">Cerrar</button>

        </div>
    </modal>

    <modal class="modal-mask bg-grey " v-if="ModalError">
        <!--modal para eliminar elemento-->


        <div class="shadow-lg bg-white rounded p-4 mt-4 ">

            <h4>{{msgError}}, se redirigirá en breve</h4>
            <div align="center">
                <button class="btn-primary" @click="redirectLISTA()"> Redirigir ahora!   </button></div>
        </div>

    </modal>






    <div class="table-bordered btn-block rounded" align="center" style="position:fixed;left:0;bottom:0; background-color:#d0d9e2; height: 50px; padding-top: 10px; padding-right: 20px">
        <div class="rounded" v-if="estadociclo" align="right" style="color: green; ">
            <div v-if="tiempoctual!=0"> <strong>Tiempo ciclo: </strong>{{tiempoctual}}</div>
            <div v-else> Tiempo Concluido</div>
        </div>
        <div class="rounded" v-else align="right" style="color: red ; ">
            <div v-if="tiempoctual!=0"> <strong>Tiempo ciclo: </strong> {{tiempoctual}}</div>
            <div v-else> Tiempo Concluido</div>
        </div>
    </div>



</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>