<div id="monitor" v-cloak>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">

            <div class="  rounded" style="background-color: white; padding: 10px">
                <tr>
                    <%if(ecoe){%>
                        <td>
                            <strong>Nombre ECOE: </strong>
                        </td>
                        <td>
                            <a>
                                <%= ecoe.nombreEcoe%>
                        </td>
                        <%}%>
                </tr>
            </div>
            <hr>



            <div class="  rounded" style="background-color: white; padding: 10px">



                <div class="accordion" id="accordionExample">
                    <h4>Participantes</h4>
                    </table>
                    <%for(var i =0; i< ecoe.participantesECOE.length; i++){%>
                        <div class="card">
                            <div class="card-header" style="background-color: rgb(210, 219, 230) ">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" style="width:100%" type="button" data-toggle="collapse" data-target="#collapse<%=ecoe.participantesECOE[i].id%>" aria-expanded="false" aria-controls="collapse<%=ecoe.participantesECOE[i].id%>">
                                    
                                    <div style="float: right; text-transform:uppercase;">  Rut: <%= ecoe.participantesECOE[i].rut %> </div>
                                    <div  style="float: left; text-transform:uppercase;">  <%= ecoe.participantesECOE[i].nombreParticipante%> </div>

                                     
                                   
                                    
                                    
                              </button>
                                </h2>
                            </div>

                            <div id="collapse<%=ecoe.participantesECOE[i].id%>" class="collapse " aria-labelledby="heading<%=ecoe.participantesECOE[i].id%>" data-parent="#accordionExample">
                                <div class="card-body">

                                    <tbody>
                                        <%if(ecoe.participantesECOE[i].evaluacion.length!=0){%>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Estación</th>
                                                        <th scope="col">Estado </th>
                                                        <th scope="col">Nota</th>
                                                        <th scope="col"> Ptaje. Obtenido</th>
                                                    </tr>
                                                </thead>
                                                <% for(var j=0; j< ecoe.participantesECOE[i].evaluacion.length; j++){%>

                                                    <tr style="text-transform:uppercase;">
                                                        <th scope="row">
                                                            <%= ecoe.participantesECOE[i].evaluacion[j].nombreEstacion%>
                                                        </th>
                                                        <td>
                                                            <%= ecoe.participantesECOE[i].evaluacion[j].estado_aprobacion%>
                                                        </td>
                                                        <td>
                                                            <%= ecoe.participantesECOE[i].evaluacion[j].nota%>
                                                        </td>
                                                        <td>
                                                            <%= ecoe.participantesECOE[i].evaluacion[j].porcentajeTotal%> %
                                                        </td>
                                                    </tr>
                                                    <%}%>

                                                        <%}else{%>

                                                            <div class="alert alert-light" role="alert">
                                                                Sin evaluaciónes ingresadas.
                                                            </div>
                                                            <%}%>

                                            </table>
                                </div>
                            </div>
                        </div>
                        <%}%>







                </div>
            </div>











        </div>
        <div align="center" v-if="tiempoctual!=0" style="padding-top: 10px ">
            <button class="btn btn-danger" style="color: white" @click="clickbotonCancelarPrep(<%=ecoe.id%>)">Cancelar Preparación</button>
            <button class="btn btn-success" @click=" ModalPausa=true">Pausar Examen</button></div>
        <div align="center" v-if="tiempoctual!=0" style="padding-top: 10px "> <button class="btn btn-success" disabled>Finalizar Examen</button></div>
        <div align="center" v-else style="padding-top: 10px "> <button class="btn btn-success" @click=" ModalFinalizar=true">Finalizar Examen</button>

        </div>


    </div>



    <div class="table-bordered btn-block rounded" align="center" style="position:fixed;left:0;bottom:0; background-color:#d0d9e2; height: 50px; padding-top: 10px; padding-right: 20px">
        <div class="rounded" v-if="estadociclo" align="right" style="color: green; ">
            <div v-if="tiempoctual!=0" style="float: left; padding-left: 10px"> <strong> Tiempo total restante</strong>: {{tiempoTotalRestante}}</div>
            <div v-if="tiempoctual!=0"> <strong>Tiempo ciclo: </strong>{{tiempoctual}}</div>
            <div v-else> Tiempo Concluido</div>
        </div>
        <div class="rounded" v-else align="right" style="color: red ; ">
            <div v-if="tiempoctual!=0" style="float: left; padding-left: 10px"> <strong> Tiempo total restante</strong>: {{tiempoTotalRestante}}</div>
            <div v-if="tiempoctual!=0"> <strong>Tiempo ciclo: </strong> {{tiempoctual}}</div>
            <div v-else> Tiempo Concluido</div>
        </div>
    </div>



    <!--Modal cancelacion de preparacion ECOE-->
    <modal class="modal-mask bg-grey" v-if="ModalFinalizar" @close="ModalFinalizar = false">


        <div class="shadow-lg bg-white rounded p-4 mt-4 ">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <p align="center"> ¿Desea Finalizar el examen?</p>
            </div>



            <div align="center">
                <ajax-form action="finalizarexamen" :syncing.sync="syncing" @submitted="submittedFormFinalizar" :handle-parsing="handleParsingFormFinalizar">
                    <ajax-button class="btn btn-danger btn-lg btn-block" type="submit" width="70%">
                        Confirmar
                    </ajax-button>
                </ajax-form>
                <hr>
                <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" @click="ModalFinalizar=false">Seguir en ejecución</button>


            </div>
        </div>
    </modal>

    <modal class="modal-mask bg-grey" v-if="ModalPausa" @close="ModalPausa = false">


        <div class="shadow-lg bg-white rounded p-4 mt-4 ">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <p align="center"> ¿Desea Pausar el examen?</p>
            </div>



            <div align="center">
                <ajax-form action="pausarecoe" :syncing.sync="syncing" @submitted="submittedFormPausar" :handle-parsing="handleParsingFormPausar">
                    <ajax-button class="btn btn-danger btn-lg btn-block" type="submit" width="70%">
                        Confirmar
                    </ajax-button>
                </ajax-form>
                <hr>
                <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" @click="ModalPausa=false">Seguir en ejecución</button>


            </div>
        </div>
    </modal>


    <modal class="modal-mask bg-grey" v-if="modalCancelarPrepa" @close="modalCancelarPrepa = false">


        <div class="shadow-lg bg-white rounded p-4 mt-4 ">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <p align="center"> ¿Desea cancelar el examen?</p>
            </div>

            <div class="alert alert-warning" role="alert">
                Si confirma, el examen volverá a su estado de "<strong style="color: rgba(60, 194, 34, 0.863)">preparado</strong>" y todas las evaluaciones ingresadas se perderán</div>

            <div align="center">
                <ajax-form action="ecoeestadocompletado" :syncing.sync="syncing" @submitted="submittedFormEstadoAprobado" :handle-parsing="handleParsingFormEstadoAprobado">
                    <ajax-button class="btn btn-danger btn-lg btn-block" type="submit" width="70%">
                        Confirmar
                    </ajax-button>
                </ajax-form>
                <hr>
                <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" @click="modalCancelarPrepa=false">Seguir en evaluación</button>


            </div>
        </div>
    </modal>



</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>