<div id="preevaluacion" v-cloak>

    <div class="jumbotron">
        <div class="rounded" style="background: white; padding: 10px">
            <table>
                <tr>
                    <td>
                        <h5><strong>Nombre Estación: </strong></h5>
                    </td>


                    <td>
                        <h5 style="font-size:25px">
                            <%= dataECOE.estacion.nombre%>
                        </h5>
                    </td>

                </tr>

                <tr>
                    <td><strong>Nombre Exámen: </strong></td>
                    <td>
                        <%= dataECOE.ecoe.nombreEcoe%>
                    </td>
                </tr>
            </table>
            <table>

            </table>

        </div>

        <%if(dataECOE.ecoe.estadoEcoe==='no-preparado'){%>
            <hr>
            <div class="rounded" style="background: white; padding: 10px">

                <div class="alert alert-warning " align="center" role="alert ">
                    El examen se encuentra en estado de preparación!
                </div>

            </div>
            <%}else{%>


                <%if(dataECOE.estacion.contenido.length!=0){%>

                    <div class="rounded" style="background: white; padding: 10px">

                        <div class="alert alert-info" role="alert">
                            <div align="center">
                                Para confirmar inicio de examen presione el botón "preparado"</div>
                        </div>

                        <table class="table  table-bordered rounded" style="background: white">
                            <tbody>
                                <tr>
                                    <td width=50>
                                        <div align="center"><i class="fas fa-hourglass-half" style="font-size: 60px; color: #fc8061; padding: 0%"></i></div>
                                    </td>
                                    <div>
                                        <td width="50" align="right">

                                            <button class="btn btn-info btn-block" @click="botonmodalPrep(<%= dataECOE.estacion.id%>)" style="height: 60px;">Preparado</button>



                                        </td>
                                    </div>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <br>
                    <hr>

                    <ul class="nav nav-tabs" hidden>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Contenido</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Elementos Rúbrica</a>
                        </li>
                        <div>
                            <hr>
                        </div>

                    </ul>
                    <hr class="my-2">
                    <%if(dataECOE.estacion.observacion==="" || dataECOE.estacion.estado_preparacion==="revisado"){%>

                        <%}else{%>
                            <div class="rounded" style="background: white; padding: 10px;">
                                <div class="alert alert-info" role="alert">
                                    <h4 class="alert-heading">Observación:</h4>
                                    <p>
                                        <%=dataECOE.estacion.observacion%>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <%}%>



                                <div class="card card-columns">
                                    <div class="card-header">
                                        Contenido Estación
                                    </div>
                                    <div class="card-body">
                                        <p v-for="item in textosplit"> {{item}} </p>
                                    </div>

                                </div>


                                <div class="card card-columns " align="center">
                                    <div class=" card-header ">
                                        Imagenes adjuntas
                                    </div>
                                    <div class="card-body" align="center" v-if="dataECOE.estacion.contenido[0].image">
                                        <img class="img-thumbnail " v-bind:src="dataECOE.estacion.contenido[0].image">

                                    </div>
                                    <div class="card-body" align="center" v-if="dataECOE.estacion.contenido[0].image2">
                                        <img class="img-thumbnail " v-bind:src="dataECOE.estacion.contenido[0].image2">

                                    </div>
                                    <div class="card-body" align="center" v-if="dataECOE.estacion.contenido[0].image3">
                                        <img class="img-thumbnail " v-bind:src="dataECOE.estacion.contenido[0].image3">

                                    </div>

                                </div>





                                <%}%>







                                    <%}%>

    </div>





    <modal class="modal-mask bg-grey" v-if="ModalPreparado" @close="ModalPreparado = false">


        <div class="shadow-lg bg-white rounded p-4 mt-4 ">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <p align="center"> ¿Se encuentra preparado para iniciar el examen? </p>
            </div>
            <hr>
            <div align="center">


                <ajax-form action="confirmacionprofesor" :syncing.sync="syncing" @submitted="submittedFormEstadoPrep" :handle-parsing="handleParsingFormEstadoPrep">

                    <ajax-button type="submit" class="btn btn-success btn-lg btn-block">
                        Confirmar
                    </ajax-button>
                </ajax-form>
                <hr>
                <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" @click="ModalPreparado=false">Cancelar</button>

            </div>
        </div>
    </modal>














</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>