<div id="preparacion" v-cloak>



    <div class="jumbotron">
        <h4 style="color: #322f5e">Confirmación Profesores para el ECOE "NOMBRE ECOE"</h4>
        <h6>{{fecha}}</h6>
        <br>
        <hr class="my-2">

        <table class="table  table-bordered rounded" style="background: white">

            <tr>
                <td style="padding-top: 1%; padding-bottom: 1%">
                    <a style="padding-bottom: 0%" class="lead">Estación confirmada</a>

                </td>
                <td style="padding-top: 1%; padding-bottom: 1%">
                    <div align="center">
                        <i class="fas fa-check-circle" style="font-size: 30px; color: green; padding: 0%"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 1%; padding-bottom: 1%">
                    <a class="lead">Estación no confirmada</a>

                </td>
                <td style="padding-top: 1%; padding-bottom: 1%">
                    <div align="center">

                        <i class="fas fa-hourglass-half" style="font-size: 30px; color: #fc8061 "></i>
                    </div>
                </td>
            </tr>
        </table>

        <hr class="my-2">

        <table class="table  table-bordered rounded" style="background: white">
            <div id="repetitivo estaciones">
                <tr>
                    <td style="padding: 1%;">
                        <div align="center" style=" padding-top: 1%; padding-bottom: 1%">
                            <!--<i class="fas fa-check-circle" style="font-size: 30px; color: green; padding: 0%" ></i>-->

                            <i class="fas fa-hourglass-half" style="font-size: 30px; color: #fc8061;  "></i>
                        </div>
                    </td>
                    <td>
                        <div align="center">

                            <a> {{dataSocket}}</a> ---ALGO: <input v-model="nuevo" type="text" placeholder="algo">

                            <button @click="send(nuevo)" class="btn btn-info">mandar</button>
                        </div>
                    </td>

                </tr>
            </div>
        </table>


        <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" @click="send('conectado')" role="button">cambiar estado</a>
        </p>
    </div>







</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>