<div id="resultadoalumno" v-cloak>

    <h5 align="center"> Resultados </h5>
    <hr>
    <div class="container">
        <h3>Resultado examen</h3>
        <br>
        <table class="table table-bordered table-striped">
            <thead class="table-info">
                <tr>
                    <th scope="col">Nº estaciones aprobadas</th>
                    <th scope="col">Nota</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tr>
                <td>
                    <div align="center">
                        {{participacion.n_estaciones_aprobadas}} / {{participacion.evaluacion.length}}</div>
                </td>
                <td>
                    {{participacion.notaEcoe}}
                </td>

                <td style="text-transform: uppercase">
                    {{participacion.Estado_aprobacion_Ecoe}}
                </td>

            </tr>
        </table>
        <br>
        <hr>
        <br>
        <h3>Resultados por estación</h3>

        <table class="table table-bordered table-striped">
            <thead class="table-info">
                <tr>
                    <th scope="col">Nombre Estación</th>
                    <th scope="col">Nota</th>
                    <th scope="col"> % obtenido</th>
                    <th scope="col"> Estado</th>
                </tr>
            </thead>

            <%for(var i=0; i< participacion.evaluacion.length; i++){%>
                <tr>
                    <td>
                        <%=participacion.evaluacion[i].nombreEstacion%>
                    </td>
                    <td>
                        <%=participacion.evaluacion[i].nota%>
                    </td>
                    <td>
                        <%=participacion.evaluacion[i].porcentajeTotal%> %
                    </td>
                    <td style="text-transform: uppercase">
                        <%=participacion.evaluacion[i].estado_aprobacion%>
                    </td>

                </tr>
                <%}%>

        </table>
    </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>