<div id="resultados" v-cloak>

    <div class="jumbotron jumbotron-fluid">

        <div class="container">
            <div class="  rounded" style="background-color: white; padding: 10px">

                <tr>
                    <%if(ecoe){%>
                        <td>
                            <strong>Nombre ECOE: </strong>
                        </td>
                        <td>
                            <a>
                                <%= ecoe.nombreEcoe%>
                        </td>
                        <%}%>
                </tr>
            </div>
            <div class="  rounded" style="background-color: white; padding: 10px ; overflow-x:auto;; ">

                <table class="table table-striped  ">
                    <thead>
                        <tr>
                            <th scope="col">Rut</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Nota</th>
                            <th scope="col">Detalle</th>
                            <th scope="col">Acceso</th>



                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(participante, index) in ecoe.participantesECOE">
                            <th scope="row">{{participante.rut}}</th>
                            <td>{{participante.nombreParticipante}}</td>
                            <td>{{participante.Estado_aprobacion_Ecoe}}</td>
                            <td>{{participante.notaEcoe}}</td>
                            <td @click="clickbotonUpdateVisualizacion(participante)">
                                <a style="cursor:pointer;"> <i class="fas fa-search-plus " style="font-size: 20px "></i></a>
                            </td>

                            <td @click="CambiarEstado(participante.id, index)" v-if="!submited">
                                <a style="cursor:pointer; " v-if="participante.visualizacion "> <i class="fas fa-eye " style="font-size: 20px "></i></a>
                                <a style="cursor:pointer; " v-else> <i class="fas fa-eye-slash " style="font-size: 20px "></i></a>
                            </td>
                            <td v-else>
                                Cargando...
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div align="center ">
                    <button class="btn btn-success" @click="modalLiberarNotas=true ">Liberar notas</button>
                    <button class="btn btn-danger" @click="modalOcultarNotas=true ">Ocultar notas</button>
                </div>
            </div>





        </div>


    </div>

    <modal class="modal-mask bg-grey " v-if="modalupdate " @close="modalupdate=false ">


        <div class="shadow-lg bg-white rounded p-4 mt-4 ">
            <div class="modal-header ">
                <h3>Detalle alumno</h3>
            </div>
            <div class="modal-body ">
                <h3> Alumno: {{participacion.nombreParticipante}}</h3>

                <hr>
                <h4 align="center ">Resultado examen</h4>
                <table class="table table-bordered table-striped ">
                    <thead class="table-info ">
                        <tr>
                            <th scope="col ">Nº estaciones aprobadas</th>
                            <th scope="col ">Nota</th>
                            <th scope="col ">Estado</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <div align="center ">
                                {{participacion.n_estaciones_aprobadas}} / {{participacion.evaluacion.length}}</div>
                        </td>
                        <td>
                            {{participacion.notaEcoe}}
                        </td>

                        <td style="text-transform: uppercase ">
                            {{participacion.Estado_aprobacion_Ecoe}}
                        </td>

                    </tr>
                </table>
                <hr>
                <h4 align="center ">Resultados por estación</h4>

                <table class="table table-bordered table-striped ">
                    <thead class="table-info ">
                        <tr>
                            <th scope="col ">Nombre Estación</th>
                            <th scope="col ">Nota</th>
                            <th scope="col "> % obtenido</th>
                            <th scope="col "> Estado</th>
                        </tr>
                    </thead>



                    <tr v-for="item in participacion.evaluacion ">
                        <td>
                            {{item.nombreEstacion}}
                        </td>
                        <td>
                            {{item.nota}}
                        </td>
                        <td>
                            {{item.porcentajeTotal}} %
                        </td>
                        <td style="text-transform: uppercase ">
                            {{item.estado_aprobacion}}
                        </td>

                    </tr>


                </table>
                <hr>
            </div>
            <div align="center ">



                <button type="button " class="btn btn-secondary btn-lg btn-block " data-dismiss="modal " @click="modalupdate=false ">Salir</button>

            </div>
        </div>

    </modal>

    <modal class="modal-mask bg-grey " v-if="modalLiberarNotas " @close="modalLiberarNotas=false ">


        <div class="shadow-lg bg-white rounded p-4 mt-4 ">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <p align="center"> ¿Desea Liberar notas a todos los participantes?</p>
            </div>



            <div align="center" v-if="!submitedAll">
                <button class="btn btn-success btn-lg btn-block" @click="CambiarAllEstado(true)" type="submit" width="70%">
                        Confirmar
                    </button>
                <hr>
                <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" @click="modalLiberarNotas=false">Cancelar</button>


            </div>
            <div v-else class=" justify-content-center" align="center">
                <h4 style="color: cornflowerblue;">Cargando...</h4>
            </div>


        </div>

    </modal>



    <modal class="modal-mask bg-grey " v-if="modalOcultarNotas " @close="modalOcultarNotas=false ">


        <div class="shadow-lg bg-white rounded p-4 mt-4 ">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <p align="center"> ¿Desea ocultar notas a todos los participantes?</p>
            </div>



            <div align="center" v-if="!submitedAll">
                <button class="btn btn-success btn-lg btn-block" type="submit" @click="CambiarAllEstado(false)" width="70%">
                        Confirmar
                    </button>
                <hr>
                <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" @click="modalOcultarNotas=false">Cancelar</button>


            </div>
            <div v-else class=" justify-content-center" align="center">
                <h4 style="color: cornflowerblue;">Cargando...</h4>
            </div>
        </div>

    </modal>












</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>