<div id="signup-estudiante" v-cloak>





    <div class="container" v-if="!cloudSuccess">

        <h1 class="text-center">Ingreso estudiante nuevo</h1>

        <div class="signup-form">
            <p class="text-center">Ingrese los datos para crear nuevo estudiante.</p>
            <hr/>
            <ajax-form action="signupestudiante" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">


                <div class="form-group">
                    <label for="full-name">Nombre</label>
                    <input class="form-control" id="full-name" type="text" :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Benito Antonio Martinez Ocasio" autocomplete="name" focus-first>
                    <div class="invalid-feedback" v-if="formErrors.fullName">Ingrese su nombre.</div>
                </div>

                <div class="form-group">
                    <label for="full-name">Rut</label>
                    <input class="form-control" id="rut" type="text" :class="[formErrors.rut ? 'is-invalid' : '']" v-model.trim="formData.rut" placeholder="11444222" autocomplete="name" >
                    <div class="invalid-feedback" v-if="formErrors.rut">Ingrese su rut.</div>
                </div>

                <input class="form-control" id="full-name2" type="hidden" :v-model.trim="formData.tipoUsuario='estudiante'" autocomplete="name">



                <div class="form-group">
                    <label for="email-address">Correo</label>
                    <input class="form-control" id="email-address" type="email" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="badbunny@example.com" autocomplete="email">
                    <div class="invalid-feedback" v-if="formErrors.emailAddress">Ingrese correo valido.</div>
                </div>

                <input class="form-control" id="passwordDefault" type="hidden" :v-model.trim="formData.password='alumno'">

                <div class="form-group">
                    <div class="alert alert-info" role="alert">
                        La contraseña por defecto será "alumno", esta puede ser cambiada por el alumno en la seccion "Mi cuenta"
                    </div>
                </div>
                




                    <p class="text-danger" v-if="cloudError==='emailAlreadyInUse'"><small>Este Correo ya ha sido utilizado.</small></p>
                    <p class="text-danger" v-else-if="cloudError"><small>Ha ocurrido un problema para ingresar su registro. revise los datos ingresados, o contecte a asdasd@asdasd.com.</small></p>
                    <div class="form-group">
                        <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Ingresar estudiante</ajax-button>
                    </div>
            </ajax-form>
        </div>
    </div>





















</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
