<div id="signup-docente" v-cloak>


    <div class="container" v-if="!cloudSuccess">

        <h1 class="text-center">Crear Cuenta de Docente</h1>

        <div class="signup-form">
            <p class="text-center">Ingrese sus datos para crear cuenta de docente.</p>
            <hr/>
            <ajax-form action="signupdocente" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">


                <div class="form-group">
                    <label for="full-name">Nombre</label>
                    <input class="form-control" id="full-name" type="text" :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Benito Antonio Martinez Ocasio" autocomplete="name" focus-first>
                    <div class="invalid-feedback" v-if="formErrors.fullName">Ingrese su nombre.</div>
                </div>

                <input class="form-control" id="full-name2" type="hidden" :v-model.trim="formData.tipoUsuario='docente'" autocomplete="name">



                <div class="form-group">
                    <label for="email-address">Correo</label>
                    <input class="form-control" id="email-address" type="email" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="badbunny@example.com" autocomplete="email">
                    <div class="invalid-feedback" v-if="formErrors.emailAddress">Ingrese correo valido.</div>
                </div>

                <input class="form-control" id="passwordDefault" type="hidden" :v-model.trim="formData.password='docente'">

                <div class="form-group">
                    <div class="alert alert-info" role="alert">
                        La contraseña por defecto será "docente", esta puede ser cambiada por el profesor en la seccion "Mi cuenta"
                    </div>
                </div>
                <% /*     // no usado ya que ingresa password "docente" por defecto para que el docente despues la cambie
                <div class="form-group">
                    <label for="password">Ingrese una contraseña</label>
                    <input class="form-control" id="password" type="password" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password">
                    <div class="invalid-feedback" v-if="formErrors.password">Ingrese una contraseña.</div>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirme contraseña</label>
                    <input class="form-control" id="confirm-password" type="password" :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
                    <div class="invalid-feedback" v-if="formErrors.confirmPassword">La contraseña no coincide.</div>
                </div>
               
*/ %>




                    <p class="text-danger" v-if="cloudError==='emailAlreadyInUse'"><small>Este Correo ya ha sido utilizado.</small></p>
                    <p class="text-danger" v-else-if="cloudError"><small>Ha ocurrido un problema para ingresar su registro. revise los datos ingresados, o contecte a asdasd@asdasd.com.</small></p>
                    <div class="form-group">
                        <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Crear Cuenta</ajax-button>
                    </div>
            </ajax-form>
        </div>
    </div>

</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>